<div class="list-group-item listgroup-item-action flex-column align-item-start">
    <div class="d-flex w-100 justify-content-between">
        <a
	        class="text-decoration-none link-body-emphasis"
	        href="{{ object.description.get_absolute_url }}"
        >
	        {{ object }}
        </a>
        <small>
	        <a class="text-decoration-none link-body-emphasis" href=""
	           hx-get="{% url 'describe:descriptionsuserlistelement-delete' object.pk %}"
	           hx-target="closest .list-group-item"
	           hx-swap="outerHTML"
	        >
	            <i class="bi bi-x-lg"></i>
	        </a>
        </small>
    </div>
    <small class="text-muted">{{ object.description.protocol }}</small>
    <input type="hidden" name="order" value="{{ object.pk }}">
</div>
