{% load crispy_forms_tags %}

<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="desListOffcanvas"
     aria-labelledby="desListOffcanvasLabel"
     data-bs-scroll="true"
     data-bs-backdrop="true"
>

    <div class="offcanvas-header">
	    <h5 id="desListOffcanvasLabel">Collections</h5>
	    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if user.is_authenticated %}
            <div id="listSelectInput">
                {% include 'describe/partials/descriptionsuserlist/select_input.html' %}
            </div>
        {% else %}
            <p class="text-muted">You must be logged in to access Collections. <a href="{% url 'login' %}">Log In</a></p>
        {% endif %}
	    {% include 'describe/partials/descriptionsuserlist/detail_ul.html' %}
    </div>
</div>
