<form id="expressionFilter" class="mt-3" hx-post="{% url 'describe:description_list' %}" hx-target="#table" hx-trigger="change" hx-indicator="#spinner, #table" hx-include="[name=protocol],#descriptionForm">

    <div class="form-check mb-3">
	{{ form_strict_search.strict }}
	<label class="form-check-label" for="{{ form_strict_search.strict.id_for_label }}">
	    Strict Search
	</label>
    </div>

    {{ formset.management_form }}
    <div class="accordion">

	{% for form in formset %}
            <div class="accordion-item">
		{{ form.trait_id }}
		<h2 class="accordion-header">
		    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
			{{ form.expressions.label }}
		    </button>
		</h2>
		<div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse">
		    <div class="accordion-body">
			{% for checkbox in form.expressions %}
			    <div class="form-check">
				<span class="form-checkbox-input">{{ checkbox.tag }}</span>
				<label class="form-check-label" for="{{ checkbox.id_for_label }}">
				    {{ checkbox.choice_label }}
				</label>
			    </div>
			{% endfor %}
		    </div>
		</div>
            </div>
	{% endfor %}
    </div>
</form>
