{% extends "django_tables2/bootstrap5.html" %}
{% load django_tables2 %}
{% load i18n %}

{% block table.thead %}
  {% if table.show_header %}
    <colgroup>
      <col style="width:25%;">
      <col style="width:15%;">
      <col style="width:15%;">
      <col style="width:35%;">
      <col style="width:10%;">
    </colgroup>
    <thead {{ table.attrs.thead.as_html }}>
      <tr>
        {% for column in table.columns %}
          <th {{ column.attrs.th.as_html }}
	    {% if column.orderable %}
	    hx-get="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
	    style="cursor: pointer;"
	    {% endif %}
          >
            {{ column.header }}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}
{% endblock table.thead %}

{% block pagination.previous %}
  <li class="previous page-item">
    <div hx-get="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
      class="page-link">
      <span aria-hidden="true">&laquo;</span>
    </div>
  </li>
{% endblock pagination.previous %}

{% block pagination.range %}
  {% for p in table.page|table_page_range:table.paginator %}
    <li class="page-item{% if table.page.number == p %} active{% endif %}">
      <div class="page-link"
        {% if p != '...' %}hx-get="{% querystring table.prefixed_page_field=p %}" {% endif %}>
        {{ p }}
      </div>
    </li>
  {% endfor %}
{% endblock pagination.range %}

{% block pagination.next %}
  <li class="next page-item">
    <div hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
      class="page-link">
      <span aria-hidden="true">&raquo;</span>
    </div>
  </li>
{% endblock pagination.next %}
