<div class="d-flex justify-content-center">
  <a href="#"
    class="row-action"
    hx-get="{% url 'describe:description_find_similar' %}"
    hx-target="#expression_filter"
    hx-vals='{"description_id": "{{ record.pk }}"}'
    hx-on::after-request="htmx.ajax('GET', '{% url 'describe:description_list' %}', {target: '#table', indicator: '#spinner'})"
  >
    <span class="badge rounded-pill text-bg-secondary">Similar</span>
  </a>
  {% if user.is_authenticated %}
    <a href="#"
      class="row-action"
      hx-post="{% url 'describe:workspace_element_create' %}"
      hx-vals='{"description_id": "{{ record.pk }}"}'
      hx-target="#workspaceBody">
      <span class="badge rounded-pill text-bg-secondary ms-1">Add</span>
    </a>
  {% endif %}
</div>
