{% load render_sortable %}
<div id="descriptionsuserListUl" class="row">
    {% if descriptionsuserlist %}

	<div class="col mt-3">
	    <p class="text-end">
		<a class="link-body-emphasis text-decoration-none">
		    <i class="bi bi-pencil h4"></i>
		</a>
		<a href="{% url 'restapi:descriptionslists' descriptionsuserlist.pk %}"
		   class="link-body-emphasis text-decoration-none ms-2">
		    <i class="bi bi-cloud-download h4"></i>
		</a>
		<a class="link-body-emphasis text-decoration-none ms-2"
		   href="{% url 'describe:descriptionsuserlist-delete' descriptionsuserlist.pk %}"
		>
		    <i class="bi bi-trash h4"></i>
		</a>
	    </p>

            {% render_sortable descriptionsuserlist.descriptions.all "descriptionsuserlist" "list-group mt-5" "describe:descriptionsuserlist-sort" "describe/partials/descriptionsuserlist_detail_list_item.html"  %}

	    <!-- <ul class="list-group mt-5">
		 {% for description in descriptionsuserlist.descriptions.all %}
		 <li class="list-group-item d-flex justify-content-between align-items-start">
		 <a
		 class="text-decoration-none link-body-emphasis"
		 href="{% url 'describe:description-detail' description.description.pk %}"
		 >
		 {{ description }}
		 </a>
		 <span class="badge">
		 <a class="text-decoration-none link-body-emphasis" href=""
		 hx-get="{% url 'describe:descriptionsuserlistelement-delete' description.pk %}"
		 hx-target="closest li"
		 hx-swap="outerHTML"
		 >
		 <i class="bi bi-x-lg"></i>
		 </a>
		 </span>
		 </li>
		 {% endfor %}
	         </ul> -->
	</div>
    {% endif %}
</div>
