<a href="#" 
   class="btn btn-sm btn-outline-secondary"
   hx-get="{% url 'describe:description_find_similar' %}"
   hx-target="#expressionFilter"
   hx-vals='{"description_id": "{{ record.pk }}"}'
   hx-indicator="#spinner, #table">
   <i class="bi bi-search"></i>
</a>
<a href="#"
    class="btn btn-sm btn-outline-secondary"
    hx-post="{% url 'describe:workspace_element_create' %}"
    hx-vals='{"description_id": "{{ record.pk }}"}'
    hx-target="#workspaceBody">
    <i class="bi bi-star-fill"></i>
</a>
