{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="desListOffcanvas"
     aria-labelledby="desListOffcanvasLabel"
     data-bs-scroll="true"
     data-bs-backdrop="false"
>

    <div class="offcanvas-header">
	<h5 id="desListOffcanvasLabel">Descriptions List</h5>
	<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    {#% if user.is_authenticated %#}
    <!-- <a class="btn btn-secondary" href="{% url 'describe:descriptionsuserlist-create' %}">Create</a> -->
    {#% endif %#}
    <div class="offcanvas-body">
        {% if user.is_authenticated %}
	    {% url 'describe:descriptionsuserlist-activate' as descriptionsuserlist_activate %}
	    <div class="form-floating">
	        {% render_field descriptionsuserlist_form.name class="form-select" hx-post=descriptionsuserlist_activate hx-trigger="change" hx-target="#descriptionsuserListUl" hx-swap="outerHTML" %}
	        <label for="id_name">Active List</label>
	    </div>
        {% else %}
            <p class="text-muted">You must be logged in to use Descriptions Lists. <a href="{% url 'login' %}">Log In</a></p>
        {% endif %}
	{% include 'describe/partials/descriptionsuserlist_detail_ul.html' %}
    </div>
</div>
