<div class="alert alert-light" role="alert">
    <h2 class="alert-heading">
	<i class="bi bi-pin-fill"></i> Pins
    </h2>
    <p class="text-muted fs-6 mb-3">
	{% if description_favourites|length > 1 %}
	    <a class="link-body-emphasis text-decoration-none" href="{% url 'describe:description-compare' %}">Compare</a>
	    <span class="text-secondary">|</span>
	{% endif %}
	<a
	    class="link-body-emphasis text-decoration-none"
	    href="#"
	    hx-get="{% url 'describe:description-favourites-clear'  %}"
	    hx-target="#favourites"
	>
	    Clear
	</a>
    </p>
    <div class="row">
	{% for desc in description_favourites %}

	    <div class="col-1 border m-1 p-2 rounded-3 position-relative">

		<a class="text-decoration-none
			  link-body-emphasis"
		   href="{% url 'describe:description-detail' desc.pk %}">
		    {{ desc.variety.name }}
		</a> <br/>
		<small class="text-muted">{{ desc.name }}</small>

		<button
		    type="button"
		    class="btn-close position-absolute top-0 end-0"
		    aria-label="Close"
		    hx-get="{% url 'describe:description-favourite-delete' desc.pk %}"
		    hx-target="closest div"
		    hx-swap="outerHTML"
		>
		</button>
	    </div>

	{% endfor %}
    </div>
</div>
