<a href="#"
  class="btn btn-sm btn-outline-secondary rounded-circle"
  hx-get="{% url 'describe:description_find_similar' %}"
  hx-target="#expression_filter"
  hx-vals='{"description_id": "{{ record.pk }}"}'
  hx-on::after-request="htmx.ajax('GET', '{% url 'describe:description_list' %}', {target: '#table', indicator: '#spinner'})"
>
  <i class="bi bi-search"></i>
</a>
<a href="#"
  class="btn btn-sm btn-outline-secondary rounded-circle"
  hx-post="{% url 'describe:workspace_element_create' %}"
  hx-vals='{"description_id": "{{ record.pk }}"}'
  hx-target="#workspaceBody">
  <i class="bi bi-star-fill"></i>
</a>
