<div {{ element.attrs }} class="grid-layout-cell grid-layout-item grid-item border position-relative {{ element.css_class }}">
  {% if element.url %}
    <a
      class="grid-layout-details"
      href="{{ element.url }}"
      aria-label="Open details for {{ element.title }}"
      title="Open details"
    >
      <i class="bi bi-arrow-up-right" aria-hidden="true"></i>
    </a>
  {% endif %}

  <div class="grid-layout-content">
    <strong class="grid-layout-title" title="{{ element.title }}">{{ element.title }}</strong>
    {% if element.body %}
      <span class="grid-layout-subtitle" title="{{ element.body }}">{{ element.body }}</span>
    {% endif %}
  </div>

  <input type="hidden" name="order" value="{{ element.object.pk }}">
</div>
