{% load components %} {# For `modal_attrs` #}

<header class="row {% if not header.subtitle %}mb-3{% endif %}">

  <div class="col d-flex flex-column">
    <h1 class="my-0 lh-1 {{ header.title_class }}">
      {{ header.page_title }}
    </h1>
    {% if header.subtitle %}
      <p class="text-body-secondary fs-4">{{ header.subtitle }}</p>
    {% endif %}
  </div>

  <div class="col d-flex justify-content-end align-items-center gap-3">
    {% if header.create_url %}
      {% if header.modal %}
	<a class="btn btn-outline-primary ms-2" hx-get="{{ header.create_url }}" {% modal_attrs %}>
      {% else %}
	  <a class="btn btn-outline-primary ms-2" href="{{ header.create_url }}">
      {% endif %}
      Create
	  </a>
    {% endif %}
    {% if header.configure_url %}
      {% if header.modal %}
        <a class="link-body-emphasis" hx-get="{{ header.configure_url }}" {% modal_attrs %}>
          <i class="bi bi-gear-wide-connected fs-4"></i>
        </a>
      {% else %}
        <a class="link-body-emphasis" href="{{ header.configure_url }}">
          <i class="bi bi-gear-wide-connected fs-4"></i>
        </a>
      {% endif %}
    {% endif %}
  </div>



</header>
