{% load components %} {# For `modal_attrs` #}

<header class="row {% if not header.subtitle %}mb-3{% endif %}">

  <div class="col d-flex flex-column">
    <h1 class="my-0 lh-1 {{ header.title_class }}">
      {{ header.page_title }}
    </h1>
    {% if header.subtitle %}
      <p class="text-body-secondary fs-4">{{ header.subtitle }}</p>
    {% endif %}
  </div>

  <div class="col d-flex justify-content-end align-items-center">
    {% if header.create_url %}
      {% if header.create_modal %}
	<a class="btn btn-outline-primary ms-2" hx-get="{{ header.create_url }}" {% modal_attrs %}>
      {% else %}
	  <a class="btn btn-outline-primary ms-2" href="{{ header.create_url }}">
      {% endif %}
      Create
	  </a>
    {% endif %}
  </div>

</header>
