{% load components %}

<span class="navbar-text d-flex gap-4">

  {% offcanvas_toggle "workspace" "<i class='bi bi-collection'></i>" %}

  {% offcanvas_toggle "cart" "<i class='bi bi-inbox-fill'></i>" %}

  <div class="dropdown">
    <a class="text-decoration-none dropdown-toggle" href="#"
      role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
    </a>
    {% if user.is_authenticated %}
      <div class="dropdown-menu dropdown-menu-end shadow px-4 py-3" style="width:20rem;">
	<p>
	  You're logged in as <b>{{ user.username }}</b>.
	</p>
	<div class="dropdown-divider"></div>
	<div class="d-flex justify-content-end">
	  <a href="#" _="on click call #logout-form.submit()">
	    <i class="bi bi-door-closed-fill"></i> Logout
	  </a>
	  <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
	    {% csrf_token %}
	  </form>
	</div>
      </div>
    {% else %}
      <div class="dropdown-menu dropdown-menu-end shadow px-4 py-3" style="width:20rem;">
	<div class="d-flex justify-content-center">
	  <a class="text-decoration-none" href="{% url 'login'  %}">
	    Login <i class="bi bi-door-open-fill"></i>
	  </a>
	</div>
      </div>
    {% endif %}
  </div>

  <div class="vr"></div>
  <div class="dropdown">
    <a class="text-decoration-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-brightness-high-fill"></i>

    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <h6 class="dropdown-header">Appearance</h6>
      <form hx-trigger="click" hx-swap="none">
	<li class="small">
	  <a id="setLight" class="dropdown-item{% if request.session.appearance == "light" or request.session.appearance is None %} active{% endif %}"
		 _="on click set document.body's @data-bs-theme to 'light' then remove .active from #setDark then add .active on me"
	    href="#"
	    hx-post="{% url 'front:appearance_set' %}"
	    hx-vals='{"appearance": "light"}'

	  >
	    <i class="bi bi-brightness-high me-1"></i> Light
	  </a>
	</li>
	<li class="small">
	  <a id="setDark" class="dropdown-item{% if request.session.appearance == "dark" %} active{% endif %}"
		 _="on click set document.body's @data-bs-theme to 'dark' then remove .active from #setLight then add .active on me"
	    hx-post="{% url 'front:appearance_set' %}"
	    hx-vals='{"appearance": "dark"}'
	  >
	    <i class="bi bi-moon-stars me-1"></i> Dark
	  </a>
	</li>
      </form>
      <!-- <li class=small><a class="dropdown-item" href=""><i class="bi bi-circle-half me-1"></i> Auto</a></li> -->
    </ul>
  </div>
</span>
