{% load components %}

<span class="navbar-text d-flex gap-4">

  {% if user.is_authenticated %}
    {% offcanvas_toggle "workspace" "<i class='bi bi-collection'></i>" %}
    {% if perms.collect.view_cart %}
      {% offcanvas_toggle "cart" "<i class='bi bi-inbox-fill'></i>" %}
    {% endif %}
  {% endif %}

  {% include "frontpage/partials/user_menu.html" %}

  <div class="vr"></div>
  <div class="dropdown">
    <a class="text-decoration-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-brightness-high-fill"></i>

    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <h6 class="dropdown-header">Appearance</h6>
      <form hx-trigger="click" hx-swap="none">
	<li class="small">
	  <a id="setLight" class="dropdown-item{% if request.session.appearance == "light" or request.session.appearance is None %} active{% endif %}"
		 _="on click set document.body's @data-bs-theme to 'light' then remove .active from #setDark then add .active on me"
	    href="#"
	    hx-post="{% url 'frontpage:appearance_set' %}"
	    hx-vals='{"appearance": "light"}'

	  >
	    <i class="bi bi-brightness-high me-1"></i> Light
	  </a>
	</li>
	<li class="small">
	  <a id="setDark" class="dropdown-item{% if request.session.appearance == "dark" %} active{% endif %}"
		 _="on click set document.body's @data-bs-theme to 'dark' then remove .active from #setLight then add .active on me"
	    hx-post="{% url 'frontpage:appearance_set' %}"
	    hx-vals='{"appearance": "dark"}'
	  >
	    <i class="bi bi-moon-stars me-1"></i> Dark
	  </a>
	</li>
      </form>
      <!-- <li class=small><a class="dropdown-item" href=""><i class="bi bi-circle-half me-1"></i> Auto</a></li> -->
    </ul>
  </div>
</span>
