{% load frontpage_extras %}


<!-- Button to toggle navigation with small width displays -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Menu container -->
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav me-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% nav_css_class nav_plants %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Register
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" href="{% url 'register:variety_list' %}">Varieties</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'register:plantspecies_list' %}">Species</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'register:protection_list' %}">Protections</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'register:entity_list' %}">Entities</a>
        </li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% nav_css_class nav_describe %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Describe
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" href="{% url 'describe:description_list' %}">Descriptions</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'describe:protocol_list' %}">Protocols</a>
        </li>
        {% if perms.parameters.view_varietalparameter or perms.parameters.view_parameter %}
          <li><hr class="dropdown-divider"></li>
        {% endif %}
        {% if perms.parameters.view_varietalparameter %}
          <li><a class="dropdown-item" href="{% url 'parameters:varietalparameter_list' %}">Values</a></li>
        {% endif %}
	{% if perms.parameters.view_parameter %}
          <li>
            <a class="dropdown-item" href="{% url 'parameters:parameter_list'  %}">Parameters</a>
          </li>
	{% endif %}
      </ul>
    </li>

    {% if perms.collect.view_sample %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% nav_css_class nav_collect %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Collect</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'collect:sample_list'  %}">Samples</a></li>
          <li><a class="dropdown-item" href="{% url 'collect:storage_list'  %}">Storage</a></li>
        </ul>
      </li>
    {% endif %}

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% nav_css_class nav_plan %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Evaluate
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	{% if perms.spaces.view_location %}
          <li>
            <a class="dropdown-item" href="{% url 'spaces:location_list' %}">Locations</a>
          </li>
	{% endif %}
	{% if perms.calculator.view_croplayout %}
          <li><a class="dropdown-item" href="{% url 'calculator:croplayout_list' %}">Crop Layouts</a></li>
	{% endif %}
	{% if perms.calculator.view_fieldbook %}
          <li><a class="dropdown-item" href="{% url 'calculator:fieldbook_list' %}">Fieldbooks</a></li>
	{% endif %}
        {% if perms.calculator.view_traitobservation or perms.calculator.view_parameterobservation %}
          <li><hr class="dropdown-divider"></li>
          <li><h6 class="dropdown-header">Observations</h6></li>
        {% endif %}
	{% if perms.calculator.view_traitobservation %}
          <li>
            <a class="dropdown-item" href="{% url 'calculator:trait_observation_list' %}">Traits</a>
          </li>
	{% endif %}
	{% if perms.calculator.view_parameterobservation %}
          <li>
            <a class="dropdown-item" href="{% url 'calculator:parameter_observation_list' %}">Parameters</a>
          </li>
	{% endif %}
        {% if perms.calculator.view_managementtype %}
          <li><hr class="dropdown-divider"></li>
          <li><h6 class="dropdown-header">Management</h6></li>
        {% endif %}
	{% if perms.calculator.view_managementtype %}
          <li><a class="dropdown-item" href="{% url 'calculator:managementtype_list' %}">Operations</a></li>
	{% endif %}
      </ul>
    </li>

  </ul>
