{% load frontpage_extras %}
{# We load django_tables2 to use its querystring templatetag because it supports dynamic keys. #}
{% load django_tables2 %}

{% if page_obj.paginator.num_pages > 1 %}
  <nav aria-label="Navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
	<li class="page-item">
	  <a class="page-link" href="{% querystring page=page_obj.previous_page_number without "use_block" %}" hx-get="{% querystring page=page_obj.previous_page_number without "use_block" %}">
	    &laquo;
	  </a>
	</li>
      {% endif %}

      {% get_proper_elided_page_range page_obj.paginator page_obj.number on_each_side=3 on_ends=1 as page_range %}

      {% for p in page_range %}
	<li class="page-item {% if p == page_obj.number %}active{% endif %}">
	  <a class="page-link" hx-get="{% querystring page=p without "use_block" %}" href="{% querystring page=p without "use_block" %}">{{ p }}</a>
	</li>
      {% endfor %}

      {% if page_obj.has_next %}
	<li class="page-item"> <a class="page-link" href="#" hx-get="{% querystring page=page_obj.next_page_number  without "use_block" %}">&raquo;</a> </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
