{% load components %}

<div class="dropdown">

  <a class="text-decoration-none dropdown-toggle" href="#"
    role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-person-circle"></i>
  </a>

  <div class="dropdown-menu dropdown-menu-end shadow">
    {% if user.is_authenticated %}

      <h6 class="dropdown-header">{{ user.username }}</h6>

      {% url 'frontpage:user_detail' as profile_url %}
      {% dropdown_item "Profile" href=profile_url %}

      {% if user.is_staff %}

	{% url 'frontpage:admin' as admin_url %}
	{% dropdown_item "Admin" href=admin_url %}

	{% url 'restapi:api-root' as api_root_url %}
	{% dropdown_item "API" href=api_root_url %}
      {% endif %}
    {% endif %}

    {% dropdown_item "Help" href="/docs/" %}

    {% if user.is_authenticated %}
      {% url 'logout' as logout_url %}
      {% dropdown_item "Logout" hx_post=logout_url%}
    {% else %}
	{% url 'login' as login_url %}
	{% dropdown_item "Login" href=login_url %}
    {% endif %}
  </div>

</div>
