/raw_data
/node_modules
/dumps
/dist
/data
/data_bk
/static
/scripts
cropmodels/init.py
cropmodels/*
tmux.sh
tags
docker-compose.yml
__pycache__
*.ipynb
.env
.DS_Store
.ipython/profile_default
.kitty-session
.pyenv
.envrc
/.dir-locals.el
/wipe-db.sql
/.mypy_cache/
/.ruff_cache/
/venv/
/kora_backup.sql
docs/build
