Django
django-countries
django-crispy-forms==1.14
crispy-bootstrap5
django-render-block
django-filter
django-forms-dynamic
django-tables2
django-widget-tweaks
djangorestframework
drf-redesign
numpy
pandas
psycopg2
pyuca
tablib
gunicorn
