Django
django-countries
django-crispy-forms==1.14
crispy-bootstrap5
django-extensions
django-filter
django-forms-dynamic
django-htmx
django-tables2
django-widget-tweaks
djangorestframework
numpy
pandas
psycopg2
pyuca
tablib
