Django
psycopg2
djangorestframework
django-crispy-forms==1.14
pandas
numpy
django-extensions
django-tables2
tablib
django-filter
django-htmx
django-countries
pyuca
django-forms-dynamic
django-widget-tweaks
django-view-breadcrumbs
slippers
