{% extends "frontpage/base.html" %}

{% load breadcrumbs %}
{% load components %}

{% block title %}{{ area }}{% endblock %}


{% block container %}

  {% render_breadcrumbs %}

  {% detail_page_header instance=area subtitle=area.location %}

  <div class="mb-3">
    <button hx-get="{% url 'spaces:area-duplicate' area.pk %}" class="btn btn-sm btn-outline-secondary" {% modal_attrs %}>Duplicate</button>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card">
	<div class="card-header"><h2 class="fs-5">Area info</h2></div>
	<ul class="list-group list-group-flush">
	  <li class="list-group-item"><b>Name</b>: {{ area.name }}</li>
	  <li class="list-group-item"><b>Length</b>: {{ area.length }} m</li>
	  <li class="list-group-item"><b>Width</b>: {{ area.width }} m</li>
	</ul>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
	<div class="card-header d-flex align-items-center">
	  <h2 class="fs-5">Crop</h2>
	  <a class="btn btn-sm btn-outline-primary ms-auto" href="{% url 'calculator:crop-create-area' area.pk %}">Create</a>
	</div>

	{% for current_crop in area.current_crops %}
	  <ul class="list-group list-group-flush my-3">

	    <li class="list-group-item"><b>{% if current_crop.has_variety %}Variety{% else %}Species{% endif %}</b>: {{ current_crop }}</li>
	    {% for cropparam in current_crop.cropparameter_set.all %}
	      <li class="list-group-item"><b>{{ cropparam.parameter.name }}</b>: {{ cropparam.value }} {{ cropparam.parameter.measure_unit}}</li>
	    {% endfor %}
	  </ul>
	  <a class="btn btn-lg btn-primary mt-auto" href="{% url 'calculator:crop-update' area.crop_set.last.pk %}">Change</a>
	{% empty %}
	  <p class="card-body">There are currently no crop in this area.</p>
	{% endfor %}
      </div>
    </div>


    <div class="col-4">
      <div class="card">

	<div class="card-header">
	  <h2c class="fs-5">Log</h2>
	</div>

	<div class="card-body">
	  <table class="table">
	    <thead>
              <th>Crop</th>
              <th>Sowing</th>
              <th>Harvest</th>
	    </thead>
	    <tbody>
              {% for crop in area.crop_set.all %}
		<tr {% if crop.is_ongoing %}class="table-primary"{% endif %}>
		  <td><a href="{% url 'calculator:crop-update' crop.pk %}">{{ crop }}</a></td>
		  <td>{{ crop.sowing|default_if_none:"" }}</td>
		  <td>{{ crop.harvest|default_if_none:"" }}</td>
		</tr>
              {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
{% endblock %}
