{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Are you sure?{% endblock %}
{% block container %}
<h5 class="display-5">Are you sure?</h5>
<p>You are deleting the area {{ area.name }} in {{ area.location.name }}. The operation cannot be undone.</p>
{% if area.crop_set.count > 0 %}
<p>You will also delete the following crops:</p>
<ul>
  {% for crop in area.crop_set.all %}
  <li>{{ crop }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post">
  {% csrf_token %}
  <button name="btn-save" type="submit" class="btn btn-outline-primary mt-3">Confirm</button>
  <a class="btn btn-outline-secondary mt-3" type="submit" href="{% url 'spaces:area_detail' object.pk %}">Cancel</a>
</form>
{% endblock %}
