{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Area{% if area %}: {{ area.name }}{% endif %}{% endblock %}
{% block container %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'spaces:location-list' %}">Zones</a></li>

    <li class="breadcrumb-item active" aria-current="page">{% if area %}{{ area.name }}{% else %}New Area{% endif %}</li>
  </ol>
</nav>
<h1>{% if area %}Area: {{ area.name }} ({{ area.location.name }}){% else %}New Area{% endif %}</h1>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button name="btn-save" type="submit" class="btn btn-outline-primary mt-3">Save</button>
</form>


{% endblock %}
