{% extends "frontpage/base.html" %}
{% load static %}


{% block javascript %}
<script src="{% static 'frontpage/js/htmx.js' %}" type="text/javascript"></script>
{% endblock %}


{% block title %}Location: {{ location.name }}{% endblock %}


{% block container %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'spaces:location-list' %}">Zones</a></li>
    <li class="breadcrumb-item">{{ location.name }}</li>
  </ol>
</nav>

<h1 class="display-1">{{ location }}</h1>

<form hx-post="{% url 'spaces:area-sort' %}" hx-trigger="end" hx-target="#grid-area"> 
  <p>Sort: 
  {% if sortable %}
  Custom
  {% else %}
  <a href="{% url 'spaces:location-detail' location.pk %}">Custom</a> 
  {% endif %}
  <a href="?order_by=name">Name</a> 
  <a href="?order_by=crop">Crop</a> 
  <a href="?order_by=length">Length</a>
  </p>
    <div id="grid-area" class="row">
      {% include 'spaces/partials/area_list.html' with area_list=areas %}
    </div>
  </div>

  <input type="hidden" name="location" value="{{ location.pk }}">

</form>

<script>
  htmx.onLoad(function(content) {
    //  var el = document.getElementById("grid-area")
    //  new Sortable(el, {
    //      filter: '.filtered',
    //    })
          var sortables = content.querySelectorAll("#grid-area");
    for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        new Sortable(sortable, {
            animation: 150,
            {% if sortable %}
            sort: true,
            {% else %}
            sort: false,
            {% endif %}
          });
    }
    })
</script>

{% endblock %}
