{% extends "frontpage/base.html" %}

{% load static %}
{% block javascript %}
<script src="{% static 'frontpage/js/apexcharts/apexcharts.js' %}"></script>
<script src="{% static 'frontpage/js/moment.min.js' %}"></script>
{% endblock %}
{% block title %}Locations{% endblock %}

{% block container %}

<h1>Locations</h1>
<div id="chart">
    {{ crop_totals|json_script:"plot-data" }}
    <script type="text/javascript">
      const value = JSON.parse(document.getElementById('plot-data').textContent);
          var options = {
          series: [ { data: value } ],
          legend: {
          show: false
        },
        chart: {
          height: 350,
          type: 'treemap'
        },
        title: {
          text: 'Crops overview'
        }
        };
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
</div>
<div class="row">

  <div class="col">
    {% for location in object_list %}
    <h1>{{ location.name }}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Area</th>
          <th scope="col">Dimensioni</th>
          <th scope="col">Current crop</th>
        </tr>
      </thead>
      <tbody>
        {% for area in location.area_set.all %}
        <tr>
          <th scope="row"><a href="{% url 'spaces:area-detail' area.pk %}">{{ area.name }} ({{ area.temp_offset }})</a></th>
          <td>{{ area.length }}&times;{{ area.width }} ({{ area.total_area }})</td>
            {% if area.crop_set.all %}
            {% with crop=area.crop_set.last %}
          <td>
            <a href="{% url 'calculator:crop-update' crop.pk %}">{{ crop }}</a>
          </td>
          {% endwith %}
          {% else %}
          <td>&nbsp;</td>
          {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% empty %}
    <p>There are no stored locations, yet.</p>
    {% endfor %}
  </div>


{% endblock %}
