{% extends "frontpage/partials/grid.html" %}

{% block container %}
  <form
    hx-post="{{ sort_url }}"
    hx-trigger="end"
    hx-swap="none"
    >
    <div
      id="{{ container_id }}"
      class="grid-layout my-3 sortable overflow-auto"
      data-sortable="{{ is_sortable|yesno:'true,false' }}"
      style="grid-template-columns: repeat({{ num_columns }}, minmax(80px, 1fr));"
    >
      {% for element in elements %}
	{% include item_template_name %}
      {% endfor %}
    </div>
  </form>
{% endblock %}
