{% load render_sortable %}
{% load crispy_forms_tags %}
{% load components %}

<style>
 .asteriskField {
   display: none;
 }
</style>

<script>
 document.body.addEventListener('htmx:afterSwap', function(event) {
   const input = document.querySelector("#id_name");
   if (input && input.type === 'text')
   {
     input.focus();
     input.setSelectionRange(0, input.value.length);
   }
 });
</script>

<div class="d-flex align-items-end">
  <div class="flex-grow-1">
    {% crispy cart_form %}
  </div>
  <div class="dropdown mb-3">

    <button
      class="btn btn-outline-secondary dropdown-toggle ms-1"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="bi bi-list"></i>
    </button>

    <div class="dropdown-menu" hx-target="#cartBody">

      {% url "collect:cart_create" as create_url %}
      {% dropdown_item "Create" hx_get=create_url %}

      {% url "collect:cart_update" cart.pk as rename_url %}
      {% dropdown_item "Rename" hx_get=rename_url disabled=cart|yesno:"False,True" %}

      {% url 'collect:cart_retrieve' cart.pk as retrieve_url %}
      {% dropdown_item_to_modal "Retrieve" hx_get=retrieve_url disabled=cart|yesno:"False,True" %}

      {% url 'collect:cart_empty' cart.pk as empty_url %}
      {% dropdown_item_to_modal "Empty" hx_get=empty_url disabled=cart|yesno:"False,True" %}

      {% url 'restapi:cartitems' cart.pk as download_url %}
      {% querystring no_pagination=1 format="json" as download_querystring %}
      {% dropdown_item "Download" href=download_url querystring=download_querystring target="_blank" disabled=cart|yesno:"False,True" %}

      {% url 'collect:cart_delete' cart.pk as delete_url %}
      {% dropdown_item_to_modal "Delete" hx_get=delete_url disabled=cart|yesno:"False,True" %}

    </div>
  </div>

</div>

<div>
  {% if default_weight_form %}
    {% crispy default_weight_form %}
  {% endif %}
</div>

{% if items %}
  <div class="d-flex gap-2 me-2 my-2 h6 justify-content-end" hx-target="#cartBody">
    {% url 'collect:cartitem_set_sorting' as sorting_url %}

    <small class="text-muted">Sort</small>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-sort-alpha-down" hx-get="{{ sorting_url }}" hx-vals='{"sort": "variety"}'></i>
    </a>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-sort-down" hx-get="{{ sorting_url }}" hx-vals='{"sort": "position"}'></i>
    </a>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-sort-numeric-down-alt" hx-get="{{ sorting_url }}" hx-vals='{"sort": "growing_season"}'></i>
    </a>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-list-ol" hx-get="{{ sorting_url }}" hx-vals='{"sort": "manual"}'></i>
    </a>

  </div>

  <div class="flex-grow-1 overflow-auto">

    {% render_sortable items "cart" "list-group" "collect:cartitem_sort" "collect/partials/cart_list_item.html" %}
  </div>
{% elif cart %}
  <p class="text-muted mt-5">
    This cart is currently empty. Add samples by clicking the plus symbol next to each sample in the main pane.
  </p>
{% else %}
  <p class="text-muted mt-5">
    To start using carts, first create a new one or choose an existing cart from the list.
  </p>
{% endif %}
