{% extends "frontpage/modal_content.html" %}

{% block title %}
  Cart Withdraw
{% endblock %}

{% block body %}
  <p>You are about to <span class="mark">withdraw the reserved amount from all samples</span> in the cart named <b>{{ cart.name }}</b>.</p>
  <p>This will deduct the listed quantities from your sample records, update each sample’s weight log, and <span class="mark">delete the cart</span>.</p>
<p><b>Note:</b> This action cannot be undone.</p>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
    hx-post="{% url 'collect:cart_withdraw' cart.pk %}" hx-target="#cartBody">
    Withdraw
  </button>
  {{ block.super }}
{% endblock %}
