{% extends "frontpage/base.html" %}

{% load static %}

{% block javascript %}
<script src="{% static 'frontpage/js/htmx.js' %}"></script>
{% endblock %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block container %}
<!-- NavBar -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'collect:seedsample-list' %}">Seed Samples</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ cart.name }}</li>
  </ol>
</nav>

<p class="display-1">{{ cart.name }}</p>
<div id="alert-box" class="alert alert-danger" role="alert" style="display:none">
</div>
<script src="{% static 'frontpage/js/cart.js' %}"></script>
<div class="row">
  <div class="col">
    <div class="btn-group" role="group" aria-label="Toolbar">
      <a class="btn btn-outline-primary" href="{% url 'collect:cart-delete' cart.pk %}">Clear</a>
      <a class="btn btn-outline-primary" href="{% url 'collect:cartitem-labels' %}">Labels</a>
      <a class="btn btn-outline-primary" href="{% url 'collect:cart-retrieve' %}">Retrieve</a>
      <a class="btn btn-outline-primary" href="{% url 'collect:cart-delete-samples' %}">Trash</a>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group mb-3">
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="button-set-selected"
        hx-post="{% url 'collect:cartitem-weight-update-selected-hx' %}"
        hx-trigger="click"
        hx-include="#weight_selected, #cartitem_pk"
        hx-swap="none"
        >
        Selected
      </button>
      <input id="weight_selected" name="weight_selected" type="number" class="form-control" placeholder="Set amount" aria-label="Amount" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2">g</span>
    </div>
  </div>
  <div class="col-3">
    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon1">All</button>
        <input name="weight" type="number" class="form-control" placeholder="Set amount" aria-label="Amount" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">g</span>
      </div>
    </form>
  </div>
  <div class="col">
    <form id="search-form">
      {% csrf_token %}
        <input _="on keyup if the event's key is 'Escape' set my value to '' trigger keyup" hx-include="#search-form" hx-get="{% url 'collect:cart-detail-htx' cart.pk %}" hx-target="#cartitem-table" hx-trigger="keyup changed delay:100ms" id="search" name="search" type="text" class="form-control" placeholder="Search" aria-label="Search samples" aria-describedby="button-addon2">
    </form>
  </div>
</div>
{% if cartitem_weight_errors %}
<div class="row my-3">
  <div class="col">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Some items could not be set to the desired quantity.
      They have been set to the maximum amount available, i.e.:
      {% for error in cartitem_weight_errors %}
      <li>{{ error }}</li>
      {% endfor %}
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endif %}
<div class="row mt-3"> 
  <div id="cartitem-table" class="col" hx-get="{% url 'collect:cart-detail-htx' cart.pk  %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load">
  </div>
</div>
{% endblock %}
