{% load render_sortable %}
{% load crispy_forms_tags %}

<style>
 .asteriskField {
   display: none;
 }
</style>

<script>
 document.body.addEventListener('htmx:afterSwap', function(event) {
   const input = document.querySelector("#id_name");
   if (input && input.type === 'text')
   {
     input.focus();
     input.setSelectionRange(0, input.value.length);
   }
 });
</script>

<div class="d-flex align-items-end">
  <div class="flex-grow-1">
    {% crispy cart_form %}
  </div>
  <div class="dropdown mb-3">

    <button
      class="btn btn-outline-secondary dropdown-toggle ms-1"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">

      <i class="bi bi-list"></i>

    </button>

    <div class="dropdown-menu" hx-target="#cartBody">

      <a class="dropdown-item" href="#" hx-get="{% url "collect:cart_create" %}">Create</a>

      <a class="dropdown-item {% if not cart %}disabled{% endif %}"
		{% if not cart %}aria-disabled="true"{% endif %}
		href="#"
		{% if cart %}hx-get="{% url "collect:cart_update" cart.pk %}"{% endif %}>
	Rename
      </a>

      <a class="dropdown-item {% if not cart %}disabled{% endif %}"
		{% if not cart %}aria-disabled="true"{% endif %}
		{% if cart %}href="{% url "collect:cart_retrieve" cart.pk %}"{% endif %}>
	Retrieve
      </a>

      <a class="dropdown-item {% if not cart %}disabled{% endif %}"
		{% if not cart %}aria-disabled="true"{% endif %}
		{% if cart %}
	hx-get="{% url 'collect:cart_empty' cart.pk %}"
		hx-target="#cartModal"
		hx-trigger="click"
		data-bs-toggle="modal"
		data-bs-target="#cartModal"
		{% endif %}>
	Empty
      </a>

      <a
	class="dropdown-item {% if not cart %}disabled{% endif %}"
	       {% if not cart %}aria-disabled="true"{% endif %}
	       href="{% if cart %}{% url 'restapi:cartitems' cart.pk %}?no_pagination=1&format=json{% endif %}"
	       target="_blank">
	Download
      </a>

      <a class="dropdown-item {{ cart|yesno:",disabled" }}"
		{% if not cart %}aria-disabled="true"{% endif %}
		href="{% if cart %}{% url 'collect:cart_delete' cart.pk %}{% endif %}">
	Delete
      </a>

    </div>
  </div>
</div>

<div>
  {% if default_weight_form %}
    {% crispy default_weight_form %}
  {% endif %}
</div>

{% if items %}
  <div class="d-flex gap-2 me-2 my-2 h6 justify-content-end" hx-target="#cartBody">
    {% url 'collect:cartitem_set_sorting' as sorting_url %}

    <small class="text-muted">Sort</small>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-sort-alpha-down" hx-get="{{ sorting_url }}" hx-vals='{"sort": "variety"}'></i>
    </a>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-sort-down" hx-get="{{ sorting_url }}" hx-vals='{"sort": "position"}'></i>
    </a>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-sort-numeric-down-alt" hx-get="{{ sorting_url }}" hx-vals='{"sort": "growing_season"}'></i>
    </a>

    <a class="link-body-emphasis text-decoration-none" href="#">
      <i class="bi bi-list-ol" hx-get="{{ sorting_url }}" hx-vals='{"sort": "manual"}'></i>
    </a>

  </div>

  {% render_sortable items "cart" "list-group" "collect:cartitem_sort" "collect/partials/cart_list_item.html" %}
{% elif cart %}
  <p class="text-muted mt-5">
    This cart is currently empty. Add descriptions by clicking the plus symbol next to each sample in the main pane.
  </p>
{% else %}
  <p class="text-muted mt-5">
    To start using carts, first create a new one or choose an existing cart from the list.
  </p>
{% endif %}

