{% extends "frontpage/base.html" %}
{% block title %}{{ object.seedsample.variety.name }}{% endblock %}
{% block container %}
<h5 class="display-5">Are you sure?</h5>
<p>You are deleting a germinability ({{ object.germinability }}% performed on {{ object.performed_at }}) associated with the seed sample of <b>{{ object.seedsample.variety.name }}</b> ({{ object.seedsample.growing_season }}) variety</p>
<form method="post">
  {% csrf_token %}
  <button name="btn-delete" type="submit" class="btn btn-outline-danger mt-3">Delete</button>
  <a class="btn btn-outline-secondary mt-3" type="submit" href="{% url 'collect:seedsample-list'  %}">Cancel</a>
</form>
{% endblock %}
