{% extends "frontpage/base.html" %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% load render_table from django_tables2 %}
{% load breadcrumbs %}
{% load components %}

{% block title %}Samples{% endblock %}

{% block container %}

  {% render_breadcrumbs %}
  {% list_page_header "Samples" create_url='collect:sample_create'  permission="collect.add_sample" %}

  <h2>Search</h2>

  <div hx-target="div.table-container">
    {% crispy filter.form %}
  </div>

  <div class="row">
    <div class="col" hx-get="" hx-trigger="cartUpdated from:body" hx-target="div.table-container">
      <h2>Results</h2>
      {% block table %}
	{% render_table table %}
      {% endblock %}
    </div>
  </div>

  <div id="tray-indicator" class="position-fixed top-0 end-0 p-3 htmx-indicator">
    <div class="spinner-border spinner-border"></div>
  </div>

{% endblock %}
