{% extends "frontpage/base.html" %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}
{% load breadcrumbs %}
{% load components %}
{% load frontpage_extras %}

{% block javascript %}
  <style>
   .scroll-fade {
     height: 40px;
     right: 10px;
     background: linear-gradient(
       to top,
       var(--bs-body-bg) 0%,
       var(--bs-body-bg) 20%,
       rgba(0, 0, 0, 0) 100%
     );
   }
  </style>
{% endblock %}

{% block title %}
  {{ sample }}
{% endblock %}

{% block container %}

  {% render_breadcrumbs %}

  {% url 'collect:sample_update' sample.pk as update_url %}
  {% detail_page_header sample subtitle=sample.variety update_url=update_url %}


  <div class="my-3">
    {% if user.is_authenticated %}
      <a
	class="btn btn-sm btn-outline-secondary"
	       hx-post="{% url "collect:cartitem_create" %}"
	       hx-vals='{"sample_id": "{{ sample.pk }}"}'
	       hx-target="#cartBody"
	       href="#">
	<i class="bi bi-plus-lg"></i> Add to Cart
      </a>
    {% endif %}
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-3">

    {% url 'register:variety_detail' sample.variety.pk as variety_url %}
    {% card_col_rows sample.variety "Variety" variety_url %}

    {% url 'collect:storage_detail' sample.position.storage.pk as storage_url %}
    {% card_col_rows sample.position "Storage Location" storage_url %}

    {% card_col_rows sample.growing_season "Growing Season" %}

    {% block weight %}
      <div id="weightCard" hx-swap-oob="true">
	{% card_col_rows sample.get_weight_display "Weight" %}
      </div>
    {% endblock %}

    {% block germinability %}
      <div id="germinabilityCard" hx-swap-oob="true">
	{% with record=sample.germinability_set.last %}
	  {% card_col_rows record|default:"-" "Germinability" %}
	{% endwith %}
      </div>
    {% endblock %}


    {% url 'collect:storage_detail' sample.position.storage.pk as storage_url %}
    {% card_col_rows sample.notes "Notes" %}

  </div>

  <!-- Log and Related Accessions -->
  <div class="row g-4 pb-4">

    <!-- Sample Log -->
    {% block log %}
      <div id="log" class="col-md-6" hx-trigger="logItemUpdated from:body" hx-get="{% url 'collect:sample_detail' sample.pk %}" hx-target="#log" hx-swap="outerHTML">
	<div class="card shadow-sm h-100 overflow-hidden">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="text-muted"><i class="bi bi-clock-history"></i> Sample Log</span>

            {% if perms.collect.add_germinability and perms.collect.add_sampleweight %}
	      <div class="dropdown dropstart text-muted">
		<a class="link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false" href="#" data-bs-popper-config='{"strategy":"fixed"}'>
		  <i class="bi bi-three-dots-vertical fs-5" ></i>
		</a>

		<ul class="dropdown-menu">
		  <li>
		    <a class="dropdown-item" hx-get="{% url 'collect:sampleweight_create' sample.pk %}" {% modal_attrs %}>Record Weight</a>
		  </li>
		  <li>
		    <a class="dropdown-item" hx-get="{% url 'collect:germinability_create' sample.pk %}" {% modal_attrs %}>Record Germinability</a>
		  </li>
		</ul>

	      </div>
	    {% endif %}
          </div>
          <div class="position-relative" style="max-height: 400px;">
	    <div class="overflow-auto h-100">
	      <ul class="list-group list-group-flush mb-0 pb-4">
		{% for item in log %}
		  {% if item.value %}
		    {% list_group_item item.value item.date update_url=item.update_url delete_url=item.delete_url %}
		  {% endif %}
		{% endfor %}
	      </ul>
	    </div>
	    <div class="position-absolute bottom-0 start-0 scroll-fade"></div>
	  </div>


	</div>
      </div>
    {% endblock %}

    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="card-header text-muted">
          <i class="bi bi-link-45deg"></i> Related Samples
        </div>
        <div class="card-body p-0">
	  {% render_table duplicates_table %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
