{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_table from django_tables2 %}
{% block javascript %}
  <link rel="stylesheet" href="{% static 'frontpage/css/tables.css' %}">
{% endblock %}
{% block title %}
Seed Samples
{% endblock %}

{% block container %}
<h1 class="display-1">Seed Samples</h1>
    <div class="row">
    <div class="col">
      <form hx-get="{% url 'collect:seedsample-list' %}" 
            hx-target="div.table-container" 
            hx-swap="outerHTML" 
            class="form-inline">
          {% crispy filter.form %}
    </div>
    <div class="col-1">
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-cart"></i>
          </button>
    </div>
    </div>

    </form>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        ...
      </div>
    </div>
 {% render_table table %}

{% endblock %}
