
{% load frontpage_extras %}
<table class="table table-striped">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Variety</th>
    <th scope="col">Location</th>
    <th scope="col">Weight</th>
    <th scope="col">Germinability</th>
    <th scope="col">Growing season</th>
    <th scope="col">Notes</th>
    <th scope="col"></th>
  </thead>
  {% for seedsample in object_list %}
  <tr>
    <td>{{ seedsample.sample_id }}</td>
    <td><a href="{% url 'collect:seedsample-detail' seedsample.pk %}">{{ seedsample.variety.name }}</a></td>
    <td>{{ seedsample.position }}</td>
    <td>{{ seedsample.weight|stringformat:"d g" }}</td>
    <td>{{ seedsample.germinability|stringformat:"d%%"|default_if_none:"&nbsp;" }}</td>
    <td>{{ seedsample.growing_season }}</td>
    <td>{{ seedsample.notes|default_if_none:"&nbsp;" }}</td>
    <td align="right">
      {% if user.is_authenticated and not seedsample.in_cart %}
      <a href="{% url 'collect:cart-add' seedsample.id %}?{% if page_obj %}page={{ page_obj.number }}{% endif %}{% if search %}&search={{ search }}{% endif %}{% if view %}&view={{ view }}{% endif %}"><i class="bi bi-plus-square" style="color:black"></i></a>
      {% endif %}
      <a href="{% url 'register:plantvariety-detail' seedsample.variety.id %}"><i class="bi bi-zoom-in" style="color: black;"></i></a>
      <a href="{% url 'collect:seedsample-update' seedsample.id %}"><i class="bi-pencil" style="color: black;"></i></a>
      <a href="{% url 'collect:seedsample-delete' seedsample.id %}"><i class="bi bi-trash" style="color: black;"></i></a>
    </td>
  </tr>
  {% endfor %}
</table>


{% if is_paginated %}
<nav aria-label="Table navigation">
  <ul 
    class="pagination"
    hx-target="#seedsample-table"
    hx-swap="innerHTML"
    hx-include="#search-form, #year-form, #view-form"
    >

    <li class="page-item">
      <a 
        class="page-link"
        {% if object_list.has_previous %}
        href="#"
        hx-get="_hx?page={{ object_list.previous_page_number }}"
        {% endif %}
        aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>


    {% get_proper_elided_page_range object_list.paginator object_list.number as page_range %}

    {% for page in page_range %}
    <li 
      class="page-item 
      {% if page == object_list.number %}
      active
      {% endif %}"
      >
      <a 
        class="page-link" 
        {% if page != object_list.paginator.ELLIPSIS %}
        href="#"
        hx-get="_hx?page={{ page }}"
        {% endif %}
        >
        {{ page }}
      </a>
    </li>
    {% endfor %}


    <li class="page-item">
      <a 
        class="page-link"
        {% if object_list.has_next %}
        href="#"
        hx-get="_hx?page={{ object_list.next_page_number }}"
        {% endif %}
        aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
