{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {% if object %}Seed sample {{ object.sample_id }}: {{ object.variety.name }}{% else %}New sample{% endif %}
{% endblock %}

{% block container %}

    <h5 class="display-5">{% if object.variety.name %}Seed Sample: <small class="text-muted">{{ object.variety.name }}{% else %}New sample{% endif %}</small></h1>

    {{ varieties|json_script:"varieties-data" }}
    {{ positions|json_script:"positions-data" }}

    <form method="post">
        {% csrf_token %}
        {% crispy form %}
        {% if weight_form %}
            {{ weight_form|crispy}}
        {% endif %}
        {% if germinability_form %}
            {{ germinability_form|crispy}}
        {% endif %}
        <button name="btn-save" type="submit" class="btn btn-outline-primary mt-3">Save</button>
        {% if not object %}<button id="btn-another" name="btn-another" type="submit" class="btn btn-outline-primary mt-3">Save & +1</button>{% endif %}
        <a class="btn btn-outline-secondary mt-3" type="submit" href="{% url 'collect:seedsample-list'  %}">Cancel</a>
    </form>

    <script src="{% static 'frontpage/seedsample-form.bundle.js' %}"></script>

{% endblock %}
