{% extends "frontpage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}<script src="{% static 'frontpage/js/htmx.min.js' %}" defer></script>{% endblock %}
{% block title %}Seed Samples{% endblock %}

{% block container %}

<p class="display-1">Seed Samples</p>


<div class="row">

  <div class="col">
    {% include 'collect/seedsample_list_toolbar.html' %}
  </div>

  {% if user.is_authenticated and cart %}
  <div class="col">
    <select id="cart-select" class="form-select" hx-trigger="change" hx-target="#cart-button" hx-get="{% url 'collect:cart-fav' %}" name="cart">
      {% for c in user.carts.all %}
      <option value="{{ c.pk }}" {% if c.pk == cart.pk %}selected{% endif %}>{{ c.name }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}

  <div class="col">
      <form method="get">
        {{ form_year.year }}
      </form>
  </div>

  <div class="col">
    <form method="get">
      <div class="input-group ms-3 w-100">
        <input name="search" type="text" class="form-control" placeholder="Search" aria-label="Search samples" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </form>
  </div>

</div>
<div class="row mt-3">
  <div class="col">
    {% if page_obj %}
      <p class="text-monospace">
      Filter: 
        <a class="text-decoration-none ms-1" href="{% url 'collect:seedsample-list' %}">All</a> 
        <a class="text-decoration-none ms-1" href="{% url 'collect:seedsample-list' %}?view=dupes" class="">Duplicates</a> 
        <a class="text-decoration-none ms-1" href="{% url 'collect:seedsample-list' %}?view=stale" class="">Stale</a> 
      </p>
    {% include 'collect/seedsample_table.html' with object_list=page_obj %}
    {% include 'frontpage/paginator.html' with page=page_obj page_get_variable='page' %}
    {% else %}
    <p class="mt-5">There are no stored seed samples corresponding to your query.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
