{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ sample.variety.name }}{% endblock %}
{% block container %}

<h5 class="display-5">Seed Sample: <small class="text-muted">{{ sample.variety.name }}</small></h1>

<p class="lead">{{ sample.notes }}</p>

<div class="row">
  <div class="card mx-2 py-2 col-3 d-flex">

    <div class="form-floating">
      <select id="variety-select" name="variety-select" class="form-select" aria-label="Default select example">
        {% for variety in variety_list %}
        <option value="{{ variety.pk }}" {% if variety.pk == sample.variety.pk %}selected{% endif %}>{{ variety.name }}</option>
        {% endfor %}
      </select>
      <label for="variety-select">Variety</label>
    </div>

    <div class="form-floating mt-3">
      <input id="growing-season-input" name="growing-season-input" class="form-control" type="number" min=1900 max=2100 step=1 value="{{ sample.growing_season }}">
      <label for="growing-season-input">Growing season</label>
    </div>

    <div class="form-floating mt-3">
      <select id="storage-select" class="form-select" name="storage-select">
        <option value="{{ sample.position.storage.pk }}">{{ sample.position.storage.name }}</option>
        {% for storage in storage_list %}
        <option value="{{ storage.pk }}" {% if storage.pk == sample.position.storage.pk %}selected{% endif %}>{{ storage.name }}</option>
        {% endfor %}
      </select>
      <label class="form-label" for="storage-select">Storage</label>
    </div>

    <div class="form-floating mt-3">
      <select id="storage-position-select" class="form-select mb-3" name="storage-position-select" data-url="{% url 'collect:fetch-storagepositions' 0 %}">
        <option value="{{ sample.position.pk }}">{{ sample.position.name }}</option>
      </select>
      <label class="form-label pt-2" for="storage-position-select">Position</label>
    </div>

    <button class="btn btn-primary mt-3 mt-auto">Save</button>

  </div>


  <div class="card mx-2 py-2 col-3 d-flex">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Germinability</th>
          <th scope="col">Days</th>
          <th scope="col">Date</th>
        </tr>
        <tbody>
          {% for germinability in sample.germinability_set.all %}
          <tr>
            <td>{{ germinability.value_percent }}%</td>
            <td>{{ germinability.after_days }}</td>
            <td>{{ germinability.performed_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </thead>
    </table>
    <div class="form-floating mt-auto">
      <input id="germinability-input" name="germinability-input" class="form-control" type="number" min=0 max=100 step=1 value="">
      <label for="germinability-input">New germinability</label>
    </div>
    <button class="btn btn-primary mt-3">Add</button>
  </div>


  <div class="card mx-2 py-2 col-3 d-flex">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Weight (g)</th>
          <th scope="col">Date</th>
        </tr>
        <tbody>
          {% for sampleweight in sample.sampleweight_set.all %}
          <tr>
            <td>{{ sampleweight.value}}</td>
            <td>{{ sampleweight.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </thead>
    </table>
    <div class="form-floating mt-auto">
      <input id="germinability-input" name="germinability-input" class="form-control" type="number" min=0 max=100 step=1 value="">
      <label for="germinability-input">New weight</label>
    </div>
    <button class="btn btn-primary mt-3">Add</button>
  </div>

</div>

<script src="{% static 'frontpage/js/seedsample.js' %}"></script>
{% endblock %}
