{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ sample.variety.name }}{% endblock %}
{% block container %}

<h5 class="display-5">Seed Sample: <small class="text-muted">{{ sample.variety.name }}</small></h1>

<p class="lead">{{ sample.notes }}</p>

<div class="row">
  <div class="card mx-2 py-2 col-4">

    <ul class="list-group list-group-flush">
      <div class="d-flex w-100 justify-content-between list-group-item">
        <h5 class="mb-1">Variety:</h5>
        <h5 class="mb-1">{{ sample.variety.name }} <small class="text-muted"><i>{{ sample.variety.species.latin_name }}</i></small>
        </h5>
      </div>

      <div class="d-flex w-100 justify-content-between list-group-item">
        <h5 class="mb-1">Position:</h5>
        <h5 class="mb-1">{{ sample.position.storage.name }} - {{ sample.position.name }}</h5>
        </h5>
      </div>

      <div class="d-flex w-100 justify-content-between list-group-item">
        <h5 class="mb-1">Growing season:</h5>
        <h5 class="mb-1">{{ sample.growing_season }}</h5>
        </h5>
      </div>

      <div class="d-flex w-100 justify-content-between list-group-item">
        <h5 class="mb-1">Last germinability:</h5>
        <h5 class="mb-1">{{ sample.last_germinability }}</h5>
        </h5>
      </div>

      <div class="d-flex w-100 justify-content-between list-group-item">
        <h5 class="mb-1">Sample weight:</h5>
        <h5 class="mb-1"></h5>
        </h5>
      </div>
    </ul>

  </div>

    <div class="card mx-2 py-2 col-4">

      <label class="form-label" for="storage-select">Storage</label>
      <select id="storage-select" class="form-select" name="storage-select">
        {% for storage in storage_list %}
        <option value="{{ storage.pk }}" {% if storage.pk == sample.position.storage.pk %}selected{% endif %}>{{ storage.name }}</option>
        {% endfor %}
      </select>

      <label class="form-label pt-2" for="storage-position-select">Position</label>

      <select id="storage-position-select" class="form-select mb-3" name="storage-position-select" data-url="{% url 'collect:fetch-storagepositions' 0 %}">
        <option value="{{ sample.position.pk }}">{{ sample.position.name }}</option>
      </select>

      <button class="btn btn-primary mt-3">Move</button>

    </div>


</div>

<script src="{% static 'frontpage/js/seedsample.js' %}"></script>
{% endblock %}
