{% extends "frontpage/base.html" %}

{% load static %}
{% load django_tables2 %}
{% load breadcrumbs %}

{% block title %}Collect{% endblock %}

{% block container %}
    
    {% render_breadcrumbs %}

    <h1 class="display-1">
	Storage {{ storage }}
	{% if storage.stored_samples %}
	<a
	    class="text-decoration-none link-body-emphasis text-muted"
	    data-bs-toggle="tooltip"
	    data-bs-title="Can't delete. Storage not empty."
	    >
	{% else %}
	<a
	    class="text-decoration-none link-body-emphasis"
	    href="{% url 'collect:storage_delete' storage.pk %}">
	{% endif %}
	    <i class="bi bi-trash" style="font-size:2rem"></i>
	</a>
    </h1>

    {% render_table table %}

{% endblock %}
