{% extends "frontpage/base.html" %}

{% load static %}
{% load django_tables2 %}
{% load breadcrumbs %}
{% load components %}

{% block title %}Collect{% endblock %}

{% block container %}
    
    {% render_breadcrumbs %}

    {% detail_page_header storage subtitle="Storage" cant_delete_msg="You can't delete this storage as it is not empty." %}

    <h2>Samples <span class="badge rounded-pill text-bg-secondary">{{ storage.stored_samples }}/{{ storage.total_positions }}</span></h2>

    {% render_table table %}

{% endblock %}
