{% extends "frontpage/base.html" %}

{% load static %}
{% load render_sortable %}
{% load breadcrumbs %}
{% load components %}

{% block title %}Collect{% endblock %}

{% block container %}

    {% render_breadcrumbs %}

    {% url 'collect:storage-create' as create_url %}
    {% list_page_header "Storage" create_url=create_url %}

    <div class="row">
	    <div class="col">
            {% render_sortable object_list "storage" "row" "collect:storage-sort" "collect/partials/storage_card.html" "collect:storage-create" %}
	    </div>
    </div>

{% endblock %}
