{% extends "frontpage/base.html" %}

{% load static %}
{% load render_cards %}

{% block title %}Collect{% endblock %}

{% block container %}

<p class="display-1">Storage</p>

{% if object_list %}

<div class="row">
    <div class="col">
        {% render_cards object_list "storage" "collect:storage-sort" "collect/partials/storage_card.html" "collect:storage-create" %}
    </div>
</div>

{% else %}

<p class="mt-5">There are no stored seed samples corresponding to your query.</p>

{% endif %}
{% endblock %}
