{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ description }}{% endblock %}
{% block container %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{% url "front:index" %}">Kora</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'register:variety_list' %}">Varieties</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'register:plantvariety_detail' description.variety.pk %}">{{ description.variety }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'describe:description-list' %}">Descriptions</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'describe:description-detail' description.id %}">{{ description.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update</li>
        </ol>
    </nav>
    <h1 class="display-3">{{ description }}</h1>
    <p class="lead">Reference protocol <a href="{% url 'describe:protocol_detail' description.protocol.id %}">{{ description.protocol.name }}</a> (<i>{{ description.protocol.plantspecies.latin_name }}</i>)</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% for form in formset %}
                <div class="card mb-2">
                    <div class="card-header bg-secondary text-white">
                        {{ form.1 }}
                    </div>
                    <div class="card-body">
                        {{ form.0|crispy }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
{% endblock %}
