{% extends "frontpage/base.html" %}
{% load description_extras %}
{% block title %}Description: {{ description.variety.name }}{% endblock %}
{% block container %}
<h1>{{ description.variety.name }} - {{ description.name }}</h1>
<p>Reference protocol <a href="{% url 'describe:protocol_detail' description.protocol.id %}">{{ description.protocol.name }}</a></p>
<p><a class="btn btn-secondary" href="{% url 'describe:description-update' description.id %}">Manage</a></p>
<table class="table table-striped">
    <thead>
        <th>Trait</th>
        <th>Expression</th>
    </thead>
	{% for trait in description.protocol.traits.all %}
	<tr>
		<td>{{ trait.description }}</td>
		{% with expr=description.expressions.all|expr_trait:trait.id %}
		{% if not expr %}
		<td></td>
		{% else %}
		<td>{{ expr }}</td>
		{% endif %}
		{% endwith %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
