{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load breadcrumbs %}

{% block title %}
  Compare descriptions
{% endblock %}

{% block container %}

  <style>

   .table-container {
     height: 70vh; /* 70% of the viewport height */
     overflow-y: auto;
     overflow-x: auto;
     position: relative;
   }

   table {
     position: relative;
     width: 100%;
   }

   thead {
     position: sticky;
     top: 0;
     z-index: 3;
   }

   thead th:first-child,
   tbody td:first-child {
     position: sticky;
     left: 0;
     z-index: 2;
     width: 30rem;
   }

   td:not(:first-child),
   th:not(:first-child) {
     width: 12rem;
   }
  </style>

  {% render_breadcrumbs %}

  <h1 class="mb-3">
    {{ workspace }}
    <small class="text-muted">Compare Workspace</small>
  </h1>


  {% for species, species_data in compare_table.items %}

    {% if compare_table|length > 1 %}
      <h2 class="mb-2">{{ species.1 }}</h2>
    {% endif %}

    {% with id_for_table=species.1|slugify|capfirst  %}

      <div id="table{{ id_for_table }}" class="table-container my-3" style="overflow-x: auto;">

	<table class="table" style="table-layout: fixed;">
	  <thead>
	    <tr>
	      <th></th>
	      {% for desc in species_data.descriptions %}
		<th>{{ desc.1 }}<br/>{{ desc.2 }}</th>
	      {% endfor %}
	    </tr>
	  </thead>
	  <tbody>
	    {% for protocol, trait_data in species_data.protocols.items %}
	      <tr>
		<td class="table-secondary">
		  <h3>{{ protocol }}</h6>
		</td>
		<td class="table-secondary"  colspan="{{ species_data.descriptions|length }}"></td>
	      </tr>
	      {% for trait, expression_data in trait_data.items %}
		  <tr class="{{ expression_data.all_equal|yesno:",table-info" }}{{ trait.2|yesno:" fw-bold," }}">
		    <td>
		      {{ trait.0 }}. {{ trait.1 }} {% if trait.2 %}&#10033;{% endif %}
		  </td>
		  {% for description_expressions in expression_data.expressions %}
		    <td>
		      {% for expression in description_expressions %}
			{% if not forloop.first %}<br/>{% endif %}{{ expression.0 }}
		      {% empty %}
			&mdash;
		      {% endfor %}
		    </td>
		  {% endfor %}
		</tr>
	      {% endfor %}
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    {% endwith %}
  {% endfor %}

{% endblock %}
