{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block javascript %}
    <style type="text/css">
        .ts-wrapper .option .title {
            display: block;
        }
        .ts-wrapper .option .url {
            font-size: 12px;
            display: block;
            color: #a0a0a0;
        }
        td {
            min-width: 175px;
        }
    </style>
{% endblock %}
{% block title %}

{% endblock %}

{% block container %}
    <h1 class="display-1">Import Descriptions</h1>
    <p class="lead">
        {{ protocol }}
    </p>
    <div class="row">
        <form action="{% url 'describe:description-import-confirm' protocol.pk %}" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="col" style="overflow-x: auto; width='100%'">
                <table class="table">
                    <thead>
                        <tr>
                            {% for field in formset|first %}
                                {% if not field.is_hidden %}
                                    <th scope="col" class="col-2">{{ field.label }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr>
                                {% for field in form %}
                                    {% if not field.is_hidden %}
                                        <td scope="row" {% if field.errors %}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="{{ field.errors|striptags }}"{% endif %}>
                                            {% if field.errors %}
                                                {% render_field field class+="is-invalid" %}
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-middle">
                <button type="submit" class="btn btn-lg btn-primary fixed-bottom mb-3"><i class="bi bi-check-circle-fill"></i> Submit</button>
            </div>
        </form>
    </div>


    {{ varieties|json_script:"varieties-data" }}
    <script src="{% static 'describe/description-import-confirm.bundle.js' %}"></script>


{% endblock %}
