{% extends "frontpage/base.html" %}
{% load static %}
{% block javascript %}
    
{% endblock %}

{% block title %}Descriptions{% endblock %}

{% block container %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{% url "front:index" %}">Kora</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Descriptions</li>
        </ol>
    </nav>
    <!-- Page title -->
    <p class="display-1">
        Descriptions
        <a
            class="btn btn-lg btn-primary"
            href="{% url 'describe:description-create' %}"
        >
            Create
        </a>
    </p>

    {% block main %}
    {% endblock %}

{% endblock %}
