{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Descriptions import
{% endblock %}

{% block container %}
    <h1 class="display-1">Import Descriptions</h1>
    <p class="lead">
        &nbsp;
    </p>
    <div class="row mt-5 justify-content-md-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">{{ form.protocol.label }}</label>
                            {% render_field form.protocol class+="form-select" %}
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">{{ form.csv_file.label }}</label>
                            {% render_field form.csv_file class+="form-control" %}
                        </div>
                        <input class="btn btn-primary mt-3" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h1>Instructions</h1>
            <p>
                Make sure your CSV file follows the following format:

                <ul>
                    <li><b>One description per row.</b></li>
                    <li>The CSV file must have a <code>variety_name</code> column, containing the <b>name of the variety</b>.</li>
                    <li>The CSV file must have a <code>description_name</code> column, which is an <b>identificative name of the description</b>.</li>
                    <li>
                        The CSV file must have <b>one column for each
                            characteristic of the chosen protocol</b>; these
                        columns should be named <code>ncharY</code> where Y is
                        the numeric ID of the characteristic within the chosen
                        protocol.
                        These columns should contain the Notes' (or Expressions) IDs
                        constituting the Description. Missing values should be left as empty cells. Only valid Notes (i.e. present in the chosen protocol) will be accepted.
                    </li>
                    <li><b>The CSV file can't have more than 50 rows<sup>*</sup>.</b></li>
                </ul>
            </p>

            <p>If the variety name already exists in the database, the data will be added to that variety. Otherwise, a new variety will be created.</p>

            <p>If two varieties with the same name exist in the database, you will be prompted to choose the correct variety.</p>

            <p>If a description with the same name exists for the variety, you will be prompted to choose a different name.</p>

            <p>After the initial validation, you will be able to review the imported data and correct any errors. Hovering an invalid field with the mouse will display an explantion of the error.</p>

            <p>If not changed, invalid Notes will not prevent the import of the record. They simply will be missing from the imported Description. In this way, you can basically use any notation for missing Notes (like 'NA', 0, etc.); however, if you don't want be confused by seeing them as errors you should set the cells containing missing notes as blank.</p>

            <p>Once you have reviewed and corrected any errors, click "Submit" to import the data.</p>

            <p><i><sup>*</sup>Note: For performance reasons, only 50 records can be imported at a time.</i></p>
        </div>
    </div>
{% endblock %}
