{% extends "frontpage/base.html" %}

{% load static %}
{% load breadcrumbs %}
{% load components %}
{% load render_table from django_tables2 %}

{% block javascript %}
  <style>
   .htmx-indicator {
     display: none;
     opacity:0;
     transition: opacity 500ms ease-in;
     margin: 88px auto;
     position: absolute;
     top: 50%;
     left: 50%;
   }
   .htmx-request .htmx-indicator {
     display: block;
     opacity: 1;
   }
   .htmx-request.htmx-indicator {
     display: block;
     opacity: 1;
   }

   .htmx-request #table {
     opacity:0.5;
     transition: opacity 500ms ease-in;
   }
  </style>
{% endblock %}

{% block title %}Descriptions{% endblock %}

{% block container %}

  {% render_breadcrumbs %}

  {% url 'describe:description_create' as create_url %}
  {% list_page_header "Descriptions" create_url=create_url %}

  <main id="content">
    <div class="row">
      <!-- Left Column: Search and Filters -->
      <div class="col">

	<h2>Search</h2>
	<div id="buttons" class="d-flex justify-content-start gap-2 my-2">
	  <a href="{% querystring reset='false' export='true' %}" class="btn btn-sm btn-outline-secondary">
	    <i class="bi bi-download me-1"></i>
	    Export
	  </a>
	</div>

	{% block protocol_filter %}
	  <form id="protocolForm" autocomplete="off"
	    hx-get="{% url 'describe:description_form' %}" hx-trigger="change" hx-target="#expression_filter" hx-swap-oob="true"
	    hx-on::after-request="htmx.ajax('GET', '{% url 'describe:description_list' %}', {target: '#table', indicator: '#spinner'})"
	  >
	    {{ form_protocol }}
	  </form>
	{% endblock %}

	<form id="strictForm" hx-post="." autocomplete="off" hx-vals='{"strict_changed": "true"}'
	  hx-trigger="change" hx-target="#table" hx-indicator="#spinner">
	  <div class="form-check my-2">
	    {{ form_strict.strict }}
	    <label class="form-check-label" for="{{ form_strict.strict.id_for_label }}">
	      Strict Search
	    </label>
	  </div>
	</form>

	<form id="nameForm"
	  autocomplete="off"
	  hx-post="."
	  hx-trigger="change" hx-target="#table" hx-indicator="#spinner"
	>
	  {{ form_name }}
	</form>
	<script>
	 new TomSelect('#id_name', {create: false})
	</script>

	<div id="expression_filter" class="my-2" hx-swap-oob="true">
	  {% block expression_filter %}
	    <form autocomplete="off"
	      hx-post="." hx-trigger="change" hx-target="#table" hx-indicator="#spinner"
	    >
	      {{ formset.management_form }}
	      <div class="accordion">

		{% for form in formset %}
		  {% with value=form.expressions.value %}
		    <div class="accordion-item">
		      {{ form.trait }}
		      <h2 class="accordion-header">
			<button
			  class="accordion-button {{ value|yesno:",collapsed" }}"
			  type="button"
			  data-bs-toggle="collapse"
			  data-bs-target="#collapse{{ forloop.counter }}"
			  aria-expanded="{{ value|yesno:"true,false" }}" aria-controls="collapse{{ forloop.counter }}">
			  {{ form.expressions.label }}
			</button>
		      </h2>

		      <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {{ value|yesno:"show," }}">
			<div class="accordion-body">
			  {% for checkbox in form.expressions %}
			    <div class="form-check">
			      <span class="form-checkbox-input">{{ checkbox.tag }}</span>
			      <label class="form-check-label" for="{{ checkbox.id_for_label }}">
				{{ checkbox.choice_label }}
			      </label>
			    </div>
			  {% endfor %}
			</div>
		      </div>
		    </div>
		  {% endwith %}
		{% endfor %}
	      </div>
	    </form>
	  {% endblock %}
	</div>

      </div>

      <!-- Right Column: Results Table -->
      <div class="col-8">
        <div class="sticky-top" style="max-height: 100vh;">
	  {% block description_table %}
	    <div id="table" hx-target="#table">
	      <div class="d-flex justify-content-between align-items-center">
		<h2>Results <span class="badge rounded-pill shadow-sm text-bg-secondary">{{ table.data|length }}</span></h2>
	      </div>
	      <div id="spinner" class="spinner-grow htmx-indicator" role="status">
		<span class="visually-hidden">Loading...</span>
	      </div>
	      <div id="table-content">
		{% render_table table %}
	      </div>
	    </div>
	  {% endblock %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
