<!-- prettier-ignore -->
{% extends "frontpage/base.html" %}
{% load static %}
{% block javascript %}
    <script src="{% static 'frontpage/htmx.bundle.js'  %}"></script>
{% endblock %}

{% block title %}Descriptions{% endblock %}

{% block container %}

    <!-- Page title -->
    <p class="display-1">
        Descriptions
        <a
            class="btn btn-lg btn-primary"
            href="{% url 'describe:description-create' %}"
        >
            Create
        </a>
    </p>

    {% block main %}
    {% endblock %}

{% endblock %}
