{% extends "frontpage/base.html" %}
{% load description_extras %}
{% load frontpage_extras %}
{% load components %}
{% load breadcrumbs %}

{% block title %}Description: {{ description.variety.name }}{% endblock %}

{% block container %}

  {% url 'describe:description_update' description.id as description_update_metadata_url %}


  {% url 'describe:description_expression_update' description.id as update_url %}
  {% url 'describe:description_delete' description.id as delete_url %}


  {% render_breadcrumbs %}

  {% detail_page_header description title=description.variety subtitle=description.name update_url=update_url %}
  <p class="lead">Compiled according to
    <a href="{% url 'describe:protocol_detail' description.protocol.id %}">
      {{ description.protocol.name }}
    </a></p>

  <div class="my-3">
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'describe:description_find_similar' %}?description_id={{ description.pk }}">
      <i class="bi bi-search"></i>
      Find Similar
    </a>

    <a href="#"
      class="btn btn-sm btn-outline-secondary"
      hx-post="{% url 'describe:workspace_element_create' %}"
      hx-vals='{"description_id": "{{ description.pk }}"}'
      hx-target="#workspaceBody">
      <i class="bi bi-star-fill"></i> Add to Workspace
    </a>
  </div>
  <div class="border rounded p-4 my-2">


    <table class="table">

      <thead>
        <th>#</th>
        <th>Characteristic</th>
        <th>Expression</th>
        <th>Notes</th>
      </thead>

      <tbody>
	{% for trait, row in table.items %}
	  <tr class="{{ trait.2|yesno:"fw-bold," }}">
	    <td>{{ trait.0 }}</td>
	    <td>{{ trait.1 }}  {% if trait.2 %}&#10033;{% endif %}</td>
	    <td>
	      {% for expression in row.expressions.0 %}
		{% if not forloop.first %}<br/>{% endif %}
		{{ expression.0 }}
	      {% endfor %}
	    </td>
	    <td>
	      {% for expression in row.expressions.0 %}
		{% if not forloop.first %}<br/>{% endif %}
		{{ expression.1 }}
	      {% endfor %}
	    </td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>

  </div>

{% endblock %}
