{% extends "frontpage/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}

{% block title %}{{ description }}{% endblock %}

{% block javascript %}
    <link href="{% static 'describe/expression-update.css' %}" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block container %}

    {% render_breadcrumbs %}

    <div class="row mb-5">
	    <div class="col">
	        <h1 class="display-3">
		        {{ description }}
	        </h1>
	        <p class="lead">Reference protocol <a href="{% url 'describe:protocol_detail' description.protocol.id %}">{{ description.protocol.name }}</a> (<i>{{ description.protocol.plantspecies.latin_name }}</i>)</p>
	    </div>
    </div>

    <div class="row mb-5">

	    <div class="col-3 navbar-example">
	        <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy">
		        {% for row in formset %}
		            <a class="p-1 rounded text-decoration-none link-body-emphasis {{ row.trait.grouping|yesno:"fw-bold," }}" href="#trait-{{ row.trait.pk }}">
			            {{ row.trait }}
		            </a>
		        {% endfor %}
	        </div>
	    </div>

	    <div
	        data-bs-spy="scroll"
	        data-bs-target="#navbar-example"
	        data-bs-root-margin="0px 0px -80%"
	        data-bs-smooth-scroll="true"
	        class="col"
	        tabindex="0">
	        {% for row in formset %}
		        <div id="trait-{{ row.trait.pk }}" class="card mb-2">
		            <div class="card-header bg-secondary text-white">
			            {{ row.trait }}
		            </div>
		            <div class="card-body">
			            {% for form in row.forms %}
			                {% include 'describe/partials/expression_update.html' with form=form %}
			            {% endfor %}
			            <a href=""
			               class="text-decoration-none link-body-emphasis"
			               hx-get="{% url 'describe:description-expression-form' description.pk row.trait.pk %}"
			               hx-swap="beforebegin"
			               hx-target="this">
			                <i class="bi bi-plus-circle"></i>
			            </a>
		            </div>
		        </div>

	        {% endfor %}

	        <a href="{% url 'describe:description_detail' description.pk %}" class="btn btn-primary submit-btn">Back</a>



	    </div>
    </div>
{% endblock %}
