{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}New protocol{% endblock %}
{% block container %}
<h1>Protocol {{protocol.name}}</h1>
<h2><i>{{protocol.specie.latin_name}}</i></h2>
<form method="post">
    {% csrf_token %}
    <div id="form_set">
        {{ fs.management_form }}
        {{ fs.non_form_errors }}
        {% for f in fs %}
        <div class="card mb-5">
            <div class="card-header">
                {{ f|crispy }}
            </div>
            {% if f.nested %}
            <div class="card-body states">
                <div class="states-management_form">
                    {{ f.nested.management_form }}
                    {{ f.nested.non_form_errors }}
                </div>
                <ul class="list-group list-group-flus">
                    {% for n in f.nested %}
                    <li class="list-group-item state-form">
                        {{ n|crispy }}
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <input type="button" class="btn btn-secondary add_state" value="Add state">
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mt-3">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <input type="button" value="Add Trait" id="add_trait" class="btn btn-secondary">
    </div>
</form>
<div id="empty_form" style="display:none">
    <div class="card mb-5">
        <div class="card-header">
            {{ fs.empty_form|crispy }}
        </div>
        <div class="card-body states">
            <div class="states-management_form">
                {{ fs.empty_form.nested.management_form|crispy }}
            </div>
            <p>states</p>
            <ul class="list-group list-group-flus">
                <li class="list-group-item state-form">
                    {{ fs.empty_form.nested.empty_form|crispy }}
                </li>
            </ul>
            <div class="card-body">
                <input type="button" class="btn btn-secondary add_state" value="Add state">
            </div>
        </div>
    </div>
    <script charset="utf-8" src="{% static 'frontpage/protocol-manage.bundle.js' %}"></script>
    {% endblock %}
