{% extends "frontpage/base.html" %}

{% load static %}
{% load breadcrumbs %}
{% load components %}
{% load django_tables2 %}
{% load render_sortable %}


{% block title %}Protocols{% endblock %}

{% block container %}

    {% render_breadcrumbs %}

    {% list_page_header "describe.Protocol" %}

    <div class="row">
	    <div class="col">
            {% render_sortable object_list "protocol" "row" "describe:protocol_sort" "describe/partials/protocol_card.html" is_sortable=perms.describe.change_protocol %}
	    </div>
    </div>

{% endblock %}
