{% extends "frontpage/base.html" %}
{% block title %}Protocols{% endblock %}

{% block container %}
<p class="h1">Protocols<a class="btn btn-primary ms-2" href="{% url 'describe:protocol-create' %}">Create</a></p>
<ul>
    {% for specie in species %}
    <h1>{{ specie.common_name }}</h1>
    {% for protocol in specie.protocol_set.all %}
    <ul>
        <li><a href="{% url 'describe:protocol_detail' protocol.id %}">{{protocol.name}}</a></li>
    </ul>
    {% empty %}
    <p>There are no protocols for this species, yet.</p>
    {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
