{% extends "frontpage/base.html" %}
{% block title %}Protocols{% endblock %}

{% block container %}
<p class="display-1">Protocols</p>
<div class="row"><div class="col"><a class="btn btn-primary ms-2" href="{% url 'describe:protocol-create' %}">Create</a></div></div>

{% if protocols %}
<div class="row mt-3">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Protocol Name</th>
          <th>Species</th>
          <th>Described varieties</th>
          <th class="col-1"></th>
        </tr>
        {% for protocol in protocols %}
        <tr>
          <td><a href="{% url 'describe:protocol_detail' protocol.id %}">{{ protocol.name }}</a></td>
          <td><i>{{ protocol.specie.latin_name }}</i></td>
          <td>{{ protocol.description_set.count }}</td>
          <td align="right">
            <a href="{% url 'describe:protocol_detail' protocol.id %}"><i class="bi bi-zoom-in" style="color: black;"></i></a>
            <a class="far fa-edit falink" href={% url 'describe:protocol-update' protocol.id  %}><i class="bi-pencil" style="color: black;"></i></a>
            <a class="fas fa-trash-alt falink" href={% url 'describe:protocol-delete' protocol.id  %}><i class="bi bi-trash" style="color: black;"></i></a>
          </td>
        </tr>
        {% endfor %}
      </thead>
    </table></div>
</div>
{% else %}
<p>There are no available protocols, yet.</p>
{% endif %}
{% endblock %}
