{% extends "frontpage/_update_form.html" %}

{% load widget_tweaks %}
{% load static %}
{% load django_tables2 %}
{% load breadcrumbs %}

{% block form %}

    <div class="row d-flex justify-content-center">
        <div class="col-6">
            {% url 'describe:trait_list' as trait_list_url %}

            {{ form.state }}

            {{ form.protocol.label_tag }}
            {% render_field form.protocol class+="form-select" autocomplete="off" hx-get=trait_list_url hx-target="#id_trait" hx-include="[name=state]"%}

            {{ form.trait.label_tag }}
            {% render_field form.trait class+="form-select" autocomplete="off" hx-get=trait_list_url hx-target="#id_related_state" hx-include="[name=state], [name=trait]"%}

            {{ form.related_state.label_tag }}
            {% render_field form.related_state class+="form-select" autocomplete="off" %}

            <button class="btn btn-primary mt-3" type="submit">Update</button>
        </div>
    </div>
{% endblock %}

{% block additional_content %}
    <div class="row my-5">
        <div class="col">
            <h3>Related States</h3>
            {% render_table table %}
        </div>
    </div>
{% endblock %}
