{% extends "frontpage/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load django_tables2 %}
{% block javascript %}
<script src="{% static 'frontpage/js/htmx.js'  %}"></script>
{% endblock %}
{% block title %}
{{ state }}
{% endblock %}

{% block container %}
<h5>
  {{ state.trait.description }}
  <small class="text-muted">{{ state.trait.protocol }}</small>
</h5>
<h1 class="display-1">State of expression: {{ state }}</h1>
<div class="row mt-5">
  <div class="col">
    <h2>
      Related traits
    </h2>
    {% render_table relatedstates_table %}
  </div>
  <div class="col">
    <h2>
      Add related trait
    </h2>
    <form method="POST">
      {% url 'describe:trait-list' as trait_list_url %}
      {% csrf_token %}

      {{ relatedstate_form.state }}

      {{ relatedstate_form.protocol.label_tag }}
      {% render_field relatedstate_form.protocol class+="form-select" autocomplete="off" hx-get=trait_list_url hx-target="#id_trait" hx-include="[name=state]"%}

      {{ relatedstate_form.trait.label_tag }}
      {% render_field relatedstate_form.trait class+="form-select" autocomplete="off" hx-get=trait_list_url hx-target="#id_related_state" hx-include="[name=state], [name=trait]"%}

      {{ relatedstate_form.related_state.label_tag }}
      {% render_field relatedstate_form.related_state class+="form-select" autocomplete="off" %}
      <button class="btn btn-primary mt-3" type="submit">Relate</button>
    </form>
  </div>
</div>
{% endblock %}
