{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Login{% endblock %}
{% block container %}
<div class="d-flex justify-content-center text-center">

<form class="form-signin" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  {% csrf_token %}
  {{ form|crispy }}
  <div class="checkbox mb-3">
    <!-- <label> -->
    <!--   <input type="checkbox" value="remember-me"> Remember me -->
    <!-- </label> -->
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</div>
{% endblock %}
