{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{% if object %}
Update {{ object }}
{% else %}
Create Entity
{% endif %}
{% endblock %}

{% block container %}
<h1 class="display-1">
  {% if object %}
  Update {{ entity }}
  {% else %}
  New Entity
  {% endif %}
</h1>
<div class="row">
  <div class="col">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary my-3">
        Confirm
      </button>
    </form>
  </div>
</div>
{% endblock %}
