{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}
{% block javascript %}
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}
{% block title %}
    {{ entity }}
{% endblock %}

{% block container %}
    <h1 class="display-1">{{ entity }}
        <a class="text-decoration-none link-body-emphasis" href="{% url 'register:entity_update' entity.pk %}">
            <i class="bi bi-pencil-square" style="font-size:2rem"></i>
        </a></span></h1>
    <p class="lead">
        {{ entity.get_type_display }} based in {{ entity.country.name }} <i class="{{ entity.country.flag_css }}"></i>
    </p>
    <div class="row">
        <div class="col">
            {% render_table varieties_table %}
        </div>
    </div>
{% endblock %}
