{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}
{% block javascript %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}
{% block title %}
Breeders
{% endblock %}

{% block container %}
<h1 class="display-1">
  Breeders <a class="btn btn-primary" href="{% url 'register:entity-create' %}">Create</a>
</h1>
<form id="filter-form" method="get" class="form">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-primary my-3">Submit</button>
    <a href="{% url 'register:entity-list' %}" class="btn btn-outline-secondary my-3">Reset</a>
</form>
{% render_table table %}
{% endblock %}
