{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create Variety{% endblock %}
{% block container %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'register:plantspecies-list' %}">Species</a></li>
    <li class="breadcrumb-item"><a href="{% url 'register:plantspecies-detail' species.pk %}">{{ species }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Variety</li>
  </ol>
</nav>
<h1 class="display-1">Create Variety</h1>
<p class="lead">New {{ species.common_name|lower }} (<i>{{ species.latin_name }}</i>) variety</p>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary mt-3" type="submit" value="Save">
</form>
{% endblock %}
