{% extends "frontpage/base.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}

{% block title %}{{ plantspecies.common_name }}{% endblock %}

{% block container %}
    {% render_breadcrumbs %}
    <h1 class="display-1">
        {{ plantspecies.common_name }}
        <small class="text-muted"></small>
        <a class="text-decoration-none link-body-emphasis" href="{{ plantspecies.get_update_url }}">
            <i class="bi bi-pencil-square" style="font-size:2rem"></i>
        </a>
    </h1>
    <p class="lead">{{ plantspecies.common_name }} (<i>{{ plantspecies.latin_name }}</i>) is a {{ plantspecies.plant_type }} plant species.</p>

    {% if filter %}
        <div class="row mb-2">

            <div class="col-2">
                <div class="row">
                    <div class="card col">
                        <form id="filter-form" method="get" class="form">
                            {{ filter.form|crispy }}
                            <button type="submit" class="btn btn-primary my-3">Submit</button>
                            <a href="{% url 'register:plantspecies_detail' plantspecies.pk %}"
                               class="btn btn-outline-secondary my-3">Reset</a>
                        </form>
                    </div>

                </div>
            </div>

    {% endif %}

    <div class="col">
        {% render_table table %}
    </div>
        </div>

{% endblock %}
