{% extends "frontpage/base.html" %}
{% block title %}Species{% endblock %}
{% block container %}
<p class="h1">Species<a class="btn btn-primary ms-2" href="{% url 'register:species_create' %}">Create</a></p>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <th class="col">Species</th>
        <th class="col">Latin Name</th>
        <th class="col">Varieties</th>
        <th class="col">Descriptions</th>
        <th class="col">Seed Samples</th>
        <th class="col">Parameters</th>
      </thead>
    <tbody>
      {% for specie in object_list %}
      <tr>
        <td><a href="{% url 'register:plantspecie_detail' specie.pk %}">{{ specie.common_name }}</a></td>
        <td><i>{{ specie.latin_name }}</i></td>
        <td>{{ specie.variety.count }}</td>
        <td>{{ specie.total_descriptions }}</td>
        <td>{{ specie.total_seedsamples }}</td>
        <td>{{ specie.speciesparameter_set.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>
{% endblock %}
