{% extends "frontpage/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.id %}
	Update {{ form.instance }} for {{ form.instance.variety }}
    {% else %}
	Create new parameter for {{ form.initial.variety }}
    {% endif %}

{% endblock %}

{% block container %}

    {% if form.instance.id %}
	<h1>Update {{ form.instance }} for {{ form.instance.variety }}</h1>
    {% else %}
	<h1>Create new parameter for {{ form.initial.variety }}</h1>
    {% endif %}

    <form method="post" class="mb-2">
	{% csrf_token %}
	{{ form|crispy }}
	<p><small>*Required</small></p>
	<input class="btn btn-primary" type="submit" value="Save">
    </form>

    <div>
	<p>Can't find a parameter?
	    <a href="{% url 'parameters:parameter_create' %}" target="_blank">Create</a> a new one.</p>
    </div>
{% endblock %}
