{% extends "frontpage/list.html" %}

{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% load components %}

{% block title %}Plant Species{% endblock %}

{% block page_header %}
  {% list_page_header "register.PlantSpecies" modal=True %}
{% endblock %}

{% block main_div %}
  <div id="results" class="col-lg-9">
    {% block cards %}
      <h2 class="fs-4">Results</h2>
      <small class="text-muted">{{ page_obj.paginator.count }} matches.</small>
      <div class="row row-cols-1 row-cols-md-3 mt-2">
	{% for species in page_obj %}
	  <div class="col" style="cursor: pointer;">
	    <div class="card mt-2 text-center shadow-sm border-hover" _="on click go to url {{ species.get_absolute_url }}">
	      <div class="card-body d-flex flex-column">
		<h5 class="card-title text-truncate p-1">
		  <a class="link-body-emphasis text-decoration-none" href="{{ species.get_absolute_url }}">{{ species.common_name }}</a>
		</h5>
		<small class="card-subtitle text-truncate">
		  <em>{{ species.latin_name }}</em>
		</small>
	      </div>
	    </div>
	  </div>
	{% endfor %}
      </div>
      <div class="col mt-3 d-flex justify-content-end" hx-target="#results">
	{% with page="page" %}
	  {% include "frontpage/partials/paginator.html" %}
	{% endwith %}
      </div>
    {% endblock %}
  </div>
  </div>
{% endblock %}
