{% extends "frontpage/list.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% load components %}

{% block title %}Varieties{% endblock %}

{% block page_header %}
  {% list_page_header "register.PlantVariety" modal=True %}
{% endblock %}

{% block main_div %}

  <div id="results" class="col-lg-9">
    {% block cards %}

      <div class="row">

        <div class="col d-inline flex-column">
	  <h2 class="fs-4">Results</h2>
	  <small class="text-muted">{{ page_obj.paginator.count }} matches.</small>
        </div>

      </div>

      <div class="row row-cols-1 row-cols-md-3 mt-2">
        {% for variety in page_obj %}
          {% url 'register:variety_detail' variety.pk as variety_detail_url %}
          <div class="col" style="cursor: pointer;">
            <div class="card mt-2 text-center shadow-sm border-hover" _="on click go to url {{ variety_detail_url }}">
	      <div class="card-body d-flex flex-column">

                <h5 class="card-title text-truncate p-1">
                  <a class="link-body-emphasis text-decoration-none" href="{{ variety_detail_url }}">
                    {{ variety.name }}
                  </a>
                </h5>


		<small class="card-subtitle link-secondary text-truncate">
		  {{ variety.species.common_name }}
                  {% for name in variety.names.all %}
                    {{ forloop.first|yesno:"(," }}{{ name }}{{ forloop.last|yesno:"),;" }}
                  {% empty %}
                    &nbsp;
                  {% endfor %}
                </small>

                <p class="card-text mt-2">
                  {% with descriptions=variety.has_descriptions %}
                    <a
		      href="{{ variety_detail_url }}#descriptions"
		      class="mx-1 bi bi-file-text {{ descriptions|yesno:"link-primary,text-muted" }}"
		      data-bs-toggle="tooltip"
		      data-bs-title="{{ descriptions|yesno:"Descriptions present,No descriptions" }}"
                    ></a>
                  {% endwith %}
                  {% with accessions=variety.has_samples %}
                    <a
		      href="{{ variety_detail_url }}#samples"
		      class="mx-1 bi bi-box-seam {{ accessions|yesno:"link-primary,text-muted" }}"
		      data-bs-toggle="tooltip"
		      data-bs-title="{{ accessions|yesno:"Samples present,No samples" }}"
                    ></a>
                  {% endwith %}
                  {% with protections=variety.has_protections %}
                    <a
		      href="{{ variety_detail_url }}#protections"
		      class="mx-1 bi bi-shield-lock {{ protections|yesno:"link-primary,text-muted" }}"
		      data-bs-toggle="tooltip"
		      data-bs-title="{{ protections|yesno:"Protections present,No protections" }}"
                    ></a>
                  {% endwith %}
                  {% with crops=variety.has_crops %}
                    <a
		      href="{{ variety_detail_url }}#crops"
		      class="mx-1 bi bi-tree {{ crops|yesno:"link-primary,text-muted" }}"
		      data-bs-toggle="tooltip"
		      data-bs-title="{{ crops|yesno:"Crops present,No crops" }}"
                    ></a>
                  {% endwith %}
                  {% with parameters=variety.has_parameters %}
                    <a
		      href="{{ variety_detail_url }}#parameters"
		      class="mx-1 bi bi-calculator {{ parameters|yesno:"link-primary,text-muted" }}"
		      data-bs-toggle="tooltip"
		      data-bs-title="{{ parameters|yesno:"Parameters present,No parameters" }}"
                    ></a>
                  {% endwith %}
                </p>
	      </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col mt-3 d-flex justify-content-end" hx-target="#results">
	{% include "frontpage/partials/paginator.html" %}
      </div>

    {% endblock %}
  </div>
  </div>

{% endblock %}
