{% extends "frontpage/base.html" %}
{% load register_extras %}
{% load static %}
{% load breadcrumbs %}
{% load components %}
{% load frontpage_extras %}
{% load render_table from django_tables2 %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

{% block title %}
  {{ variety.name }} ({{ variety.species.latin_name }})
{% endblock %}

{% block container %}

  {% render_breadcrumbs %}

  {% detail_page_header variety title=variety.name subtitle=variety.species.common_name %}

  <div class="row mt-5">
    <div class="col">
      <h2 id="descriptions">
        Descriptions
        <a class="btn btn-sm btn-outline-primary" href="{% url 'describe:description_create' %}?variety={{ variety.pk }}" >Create</a>
      </h2>

      {% render_table tables.description %}
    </div>
  </div>

  {% if perms.collect.view_sample %}
    <div class="row mt-5">
      <div class="col">
	<h2 id="samples">Samples <a href="{% url 'collect:sample_create' %}?variety_id={{ variety.pk }}" class="btn btn-sm btn-outline-primary">Create</a></h2>
	{% if variety.sample_set.count %}
          {% render_table tables.sample %}
	{% else %}
          <p class="text-muted">There are no seed samples of this variety.</p>
	{% endif %}
      </div>
    </div>
  {% endif %}

  <div class="row mt-5">
    <div class="col">
      <h2 id="names">
	Names <a class="btn btn-sm btn-outline-primary" href="{% url 'register:denomination_create' variety.pk %}">Create</a>
      </h2>
      <table class="table">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col" class="col-1">&nbsp;</th>
        </thead>
        <tbody>
          {% for name in variety.names.all %}
            <tr>
              <td>{{ name.name }}</td>
              <td>{{ name.change_date }}</td>
              <td class="d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary rounded-circle" href="{% url 'register:denomination_update' name.pk %}">
		  <i class="bi bi-pencil"></i>
		</a>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col">
      <h2 id="protections">Protections<a class="btn btn-sm btn-outline-primary ms-2" href="{% url 'register:protection_create' variety.pk %}">Create</a></h2>
      {% render_table tables.protection %}
    </div>
  </div>

  {% if perms.parameters.view_varietalparameter %}
    <div class="row mt-5">
      <div class="col">
	<h2 id="parameters">Parameters <a class="btn btn-sm btn-outline-primary" href="{% url 'parameters:varietalparameter_create' variety.id %}">Create</a></h2>
	{% render_table tables.parameter %}
      </div>
    </div>
  {% endif %}


{% endblock %}
