{% extends "frontpage/base.html" %}
{% load static %}
{% load components %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load breadcrumbs %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

{% block title %}Protections{% endblock %}

{% block container %}

  {% render_breadcrumbs %}
  {% list_page_header "Protections" %}

  <div class="row">
    <div class="col">
      <h2>Search</h2>
      <div class="mt-3" hx-target="#table">
	{% crispy filter.form %}
      </div>
    </div>
    <div class="col-lg-9">
      <h2>Results</h2>
      <small class="text-muted">{{ table.paginator.count }} matches.</small>
      {% block table %}
	<div id="table" hx-target="#table">
	  {% render_table table %}
	</div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
