{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}

  {{ protection.type }} for {{ protection.variety }} ({{ protection.variety.species }})

{% endblock %}

{% block container %}

<!-- Navigation bar -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'register:plantspecies-list' %}">Species</a></li>
    <li class="breadcrumb-item"><a href="{% url 'register:plantspecies-detail' protection.variety.species.pk %}"><i>{{ protection.variety.species.latin_name }}</i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'register:plantvariety-detail' protection.variety.pk %}"><i>{{ protection.variety.name }}</i></a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ protection.type }}</li>
  </ol>
</nav>
<!-- Navigation bar -->

<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            {{ protection.get_type_display }} for {{ protection.variety }} ({{ protection.variety.species }})
        </h4>
        {% if protection.status %}
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ protection.get_status_display }}</h6>
        {% endif %}
        <a class="text-decoration-none link-dark" href="{% url 'register:protection-update' protection.pk %}">
            <i class="bi bi-pencil-square" style="font-size:1rem"></i>
        </a>
        <a class="text-decoration-none link-dark"
            href="{% url 'register:protection-create' protection.variety.pk %}?duplicate={{ protection.pk }}">
            <i class="bi bi-file-earmark-plus" style="font-size:1rem"></i>
        </a>
        <a class="text-decoration-none link-dark"
            href="{% url 'register:protection-delete' protection.pk %}">
            <i class="bi bi-trash" style="font-size:1rem"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="row mt-1">
            <div class="col-md-6">
                {% with applicants=protection.applicants.all %}
                <h6>Applicant{{ applicants|pluralize }}</h6>
                <p class="card-text" id="applicant">
                    {% for applicant in applicants %}
                        <a href="{% url 'register:entity-detail' applicant.pk %}">
                            {{ applicant }}
                        </a><br />
                {% empty %}
                {% endfor %}
                </p>
                {% endwith %}
            </div>
            <div class="col-md-6">
                <h6>Maintainer</h6>
                <p class="card-text" id="maintainer">
                    {% if protection.maintainer %}
                    <a href="{% url 'register:entity-detail' protection.maintainer.pk %}">
                        {{ protection.maintainer }}
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h6>Issued On</h6>
                <p class="card-text" id="issued-on">
                    {{ protection.date_start }}
                </p>
            </div>
            <div class="col-md-6">
                <h6>Ended On</h6>
                <p class="card-text" id="ended-on">
                    {{ protection.date_end|default_if_none:"-" }}
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h6>Country</h6>
                <p class="card-text" id="country">
                    {{ protection.country.name }} ({{ protection.country.code }})
                </p>
            </div>
            <div class="col-md-6">
                <h6>Reference ID</h6>
                <p class="card-text" id="reference-id">
                    {{ protection.reference|default_if_none:"-" }}
                </p>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
