{% extends "frontpage/base.html" %}
{% load static %}
{% load components %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load breadcrumbs %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

{% block title %}Protections{% endblock %}

{% block container %}

  {% render_breadcrumbs %}

  {% list_page_header "Protections" %}

  <h2>Search</h2>
  <div hx-target="#table">
    {% crispy filter.form %}
  </div>

  <div class="row my-3">
    <div class="col">
      <h2>Results</h2>
      {% block table %}
	<div id="table" hx-target="#table">
	  {% render_table table %}
	</div>
      {% endblock %}
    </div>
  </div>


{% endblock %}
