{% extends "frontpage/modal_content.html" %}
{% load crispy_forms_tags %}

{% partialdef protection_types_list %}
<ul class="list-group overflow-y-auto" style="max-height: 18rem;">
  {% for type in protection_types %}
    <li class="list-group-item d-flex align-items-center gap-2">
      <div class="flex-grow-1">
        <div class="fw-semibold">{{ type.name }}</div>
        <div class="text-bodysecondary small font-monospace">{{ type.code }}</div>
      </div>
      <a href="#" hx-get="{% url 'register:protection_type_update' type.pk %}" hx-target="#modal" hx-swap="innerHTML">
        <span class="badge rounded-pill text-bg-secondary">Edit</span>
      </a>
      {% if type.is_deletable %}
        <a href="#" class=""
          hx-post="{% url 'register:protection_type_delete' type.pk %}"
          hx-target="#modal" hx-swap="innerHTML">
          <span class="badge rounded-pill text-bg-danger">Delete</span>
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endpartialdef %}

{% block title %}
  Protection Settings
{% endblock %}

{% block body %}
  <h2 class="fs-6">Protection Types</h2>
  <section id="protection-types" class="border border rounded">
    {% partial protection_types_list %}
  </section>
  <div class="mt-3">
    <h2 class="fs-6">Create Protection Type</h2>
    <p>Create a new protection type by assigning it a name and a three-letters identificative code.</p>
    <form hx-post="{{ request.get_full_path }}" hx-target="#modal" hx-swap="innerHTML">
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Create</button>
    </form>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
