{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load components %}
{% load breadcrumbs %}

{% block title %}{{ protection }}{% endblock %}

{% block container %}

  {% render_breadcrumbs %}

  {% detail_page_header protection title=protection.type subtitle=protection.variety %}
  <p class="lead">{{ protection.get_type_display }}</p>

  <a class="btn btn-sm btn-outline-secondary mb-3"
    href="{% url 'register:protection_create' protection.variety.pk %}?duplicate={{ protection.pk }}">
    Duplicate
  </a>
  <div class="card">

    <div class="card-body">
      <div class="row mt-1">
        <div class="col-md-6">
          <h6>Status</h6>
          <p>
	    {% if protection.status %}
	      <span class="badge rounded-pill text-bg-secondary">{{ protection.get_status_display }}</span>
	    {% else %}
	      -
	    {% endif %}
	  </p>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-6">
          {% with applicants=protection.applicants.all %}
            <h6>Applicant{{ applicants|pluralize }}</h6>
            <p class="card-text" id="applicant">
              {% for applicant in applicants %}
                <a href="{% url 'register:entity_detail' applicant.pk %}">
                  {{ applicant }}
                </a><br />
              {% empty %}
		-
              {% endfor %}
            </p>
          {% endwith %}
        </div>
        <div class="col-md-6">
          {% with maintainers=protection.maintainers.all %}
            <h6>Maintainer{{ maintainers|pluralize }}</h6>
            <p class="card-text" id="maintainer">
              {% for maintainer in maintainers %}
                <a href="{% url 'register:entity_detail' maintainer.pk %}">
                  {{ maintainer }}
                </a><br />
              {% empty %}
		-
              {% endfor %}
            </p>
          {% endwith %}
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h6>Issued On</h6>
          <p class="card-text" id="issued-on">
            {{ protection.date_start|default_if_none:"-" }}
          </p>
        </div>
        <div class="col-md-6">
          <h6>Ended On</h6>
          <p class="card-text" id="ended-on">
            {{ protection.date_end|default_if_none:"-" }}
          </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h6>Country</h6>
          <p class="card-text" id="country">
	    {% if protection.country %}
              {{ protection.country.name }} ({{ protection.country.code }})
	    {% else %}
	      -
	    {% endif %}
          </p>
        </div>
        <div class="col-md-6">
          <h6>Reference ID</h6>
          <p class="card-text" id="reference-id">
            {{ protection.reference|default_if_none:"-" }}
          </p>
        </div>
      </div>
      {% if protection.note %}
        <div class="row mt-4">
          <div class="col">
            <h6>Notes</h6>
            <p class="card-text" id="note">
              {{ protection.note }}
            </p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
