{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Create Protection ({{ variety }}){% endblock %}

{% block container %}
<h1 class="display-1">
  Create Protection <small class="text-muted">({{ variety }})</small>
</h1>
<form action="" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-primary my-3">Confirm</button>
<a href="{% url 'register:plantvariety-detail' variety.pk %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
