{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ protection.type }} for {{ protection.variety }} ({{ protection.variety.species }}){% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'register:plantspecies-list' %}">Species</a></li>
    <li class="breadcrumb-item"><a href="{% url 'register:plantspecies-detail' protection.variety.species.pk %}"><i>{{ protection.variety.species.latin_name }}</i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'register:plantvariety-detail' protection.variety.pk %}"><i>{{ protection.variety.name }}</i></a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ protection.type }}</li>
  </ol>
</nav>

<h1>
  {{ protection.get_type_display }} for {{ protection.variety }} ({{ protection.variety.species }})
  <a class="text-decoration-none link-dark" href="{% url 'register:protection-update' protection.pk %}">
    <i class="bi bi-pencil-square" style="font-size:2rem"></i>
</a>
</h1>
<ul>
  {% if protection.applicant %}<li>Applicant: <a href="{% url 'register:entity-detail' protection.applicant.pk %}">{{ protection.applicant }}</a></li>{% endif %}
  {% if protection.maintainer %}<li>Maintainer: <a href="{% url 'register:entity-detail' protection.maintainer.pk %}">{{ protection.maintainer }}</a></li>{% endif %}
  <li>Issued on: {{ protection.date_start }}</li>
  <li>Reference ID: {{ protection.reference|default_if_none:"" }}</li>
  <li>In: {{ protection.country.name }}</li>
  {% if protection.date_end %}
  <li>Ended on: {{ protection.date_end }}</li>
  {% endif %}
</ul>
{% endblock %}
