{% if perms.parameters.change_varietalparameter %}
  <a class="row-action text-decoration-none" href="{% url 'parameters:varietalparameter_update' record.id  %}?next={{ request.get_full_path|urlencode }}">
    <span class="badge rounded-pill text-bg-secondary">Edit</span>
  </a>
{% endif %}
{% if perms.parameters.delete_varietalparameter %}
  <a class="row-action text-decoration-none" href="{% url 'parameters:varietalparameter_delete' record.id %}?next={{ request.get_full_path|urlencode }}">
    <span class="badge rounded-pill text-bg-danger">Delete</span>
  </a>
{% endif %}
