{% extends "frontpage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block javascript %}
  <link href="{% static 'frontpage/css/tom-select.bootstrap5.min.css' %}" rel="stylesheet">
  <script src="{% static 'frontpage/js/tom-select.complete.min.js' %}"></script>
  <script src="{% static 'frontpage/js/apexcharts/apexcharts.js' %}"></script>
  <script src="{% static 'frontpage/js/htmx.js' %}" type="text/javascript"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
{% endblock %}

{% block title %}
{% if crop %}
  Crop: {{ crop }}
{% else %}
  New Crop
{% endif %}
{% endblock %}

{% block container %}

<!-- TODO: there is no navbar when creating a new crop -->
{% if crop %}
<div class="mt-3">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'spaces:location-detail' crop.area.location.pk  %}">{{ crop.area.location.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spaces:area-detail' crop.area.pk %}">{{ crop.area.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ crop }}</li>
  </ol>
</nav>
</div>
{% endif %}

{% if crop %}
<p class="display-1">
  {{ crop }} <small class="text-muted">({{ crop.area.name }}, {{ crop.area.location.name }})</small>
</p>
{% else %}
<p class="display-1">New crop</p>
{% endif %}

{% if crop %}
<div class="row">
  <div class="col-3">
    <form 
       hx-post="{% url 'calculator:cropparameter-update' crop.pk %}"
       hx-target="#cropparameter-table"
       hx-swap="innerHTML">
      {{ cropparameter_form.parameter.label_tag }}
      {% render_field cropparameter_form.parameter class="form-select" hx-get="/plan/value" hx-trigger="change" hx-include="#id_crop" hx-target="#id_value" hx-swap="outerHTML" %}
      {{ cropparameter_form.value }}
      {{ cropparameter_form.crop }}
      <button class="btn btn-lg btn-primary my-3 col-12">Set</button>

    </form>
  </div>
  <div id="cropparameter-table" class="col">
    {% include 'calculator/partials/cropparameter_table.html' %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-3">

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      {% if crop %}
        <button class="btn btn-lg btn-primary mt-3 col-12" type="submit">Refresh</button>
        <a class="btn btn-lg btn-danger mt-3 col-12" type="submit" href="{% url 'calculator:crop-delete' crop.pk %}">Delete</a>
        {% else %}

        <button class="btn btn-lg btn-primary mt-3" type="submit">Submit</button>
      {% endif %}
    </form>
    {{ plantspecies|json_script:"plantspecies" }}
    <script type="text/hyperscript">
      def getVarieties_hs()
        fetch {% url 'register:plantvariety-list' crop.species.pk %} then
          put it into varietiesList
          return varietiesList
      end
    </script>
    <script type="text/javascript" src="{% static 'calculator/js/crop_update_ts.js' %}"></script>
  </div>

    {% include "calculator/partials/cropmodels.html" with oob="false" %}

    </div>
  </div>
</div>
{% endblock %}
