{% extends "frontpage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascript %}
  <link href="{% static 'frontpage/css/tom-select.bootstrap5.min.css' %}" rel="stylesheet">
  <script src="{% static 'frontpage/js/tom-select.complete.min.js' %}"></script>
  <script src="{% static 'frontpage/js/apexcharts/apexcharts.js' %}"></script>
{% endblock %}

{% block title %}
{% if crop %}
  Crop: {{ crop }}
{% else %}
  New Crop
{% endif %}
{% endblock %}

{% block container %}

<!-- TODO: there is no navbar when creating a new crop -->
{% if crop %}
<div class="mt-3">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'spaces:location-list'  %}">{{ crop.area.location.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spaces:area-detail' crop.area.pk %}">{{ crop.area.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ crop }}</li>
  </ol>
</nav>
</div>
{% endif %}

{% if crop %}
<p class="display-1">
  {{ crop }} <small class="text-muted">({{ crop.area.name }}, {{ crop.area.location.name }})</small>
</p>
{% else %}
<p class="display-1">New crop</p>
{% endif %}

<div class="row">
  <div class="col-3 card py-3 px-3">

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary mt-3" type="submit">Submit</button>
      {% if crop %}
        <a class="btn btn-danger mt-3" type="submit" href="{% url 'calculator:crop-delete' crop.pk %}">Delete</a>
      {% endif %}
    </form>
    {{ plantspecies|json_script:"plantspecies" }}
    <script type="text/javascript" src="{% static 'calculator/js/crop_update_ts.js' %}"></script>
  </div>

  <div class="col">
    <div class="row">
<!-- Display available models -->
  {% for cm in cropmodels %}
  {% if 'plots' in cm %}
  {{ cm.plots|json_script:"plot-data" }}
  <div class="col card mx-2 my-2">
    <div class="card-title">
      <h3>Phenology</h3>
    </div>
    <div id="synced-charts">
      {% for plot in cm.plots %}
      <div id="{{ plot.chart.id }}" class="card-body"></div>
      {% endfor %}
    </div>

    <script type="text/javascript" src="{% static 'calculator/js/crop_update.js' %}"></script>
  </div>
  </div>
  <div class="row">
  {% else %}
  <div class="card col-3 my-2 mx-2">
    <div class="card-title"><p>{{ cm.model_name }}</p></div>
    <div class="card-body d-flex"><h2 class="display-3 mt-auto">{{ cm.value }} {{ cm.measure_unit }}</h2></div>
  </div>
  {% endif %}
  {% endfor %}
  </div>
</div>

    </div>
  </div>
</div>
{% endblock %}
