{% extends "frontpage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascript %}
<script src="{% static 'frontpage/js/apexcharts/apexcharts.js' %}"></script>
<script src="{% static 'frontpage/js/moment.min.js' %}"></script>
{% endblock %}
{% block title %}Crop: {{ crop }}{% endblock %}
{% block container %}
<h1>Crop: {{ crop }} in {{ crop.area.name }} ({{ crop.area.location.name }})</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="">Crops</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ crop }} in {{ crop.area.name }} ({{ crop.area.location.name }})</li>
  </ol>
</nav>
<div class="row">
  <div class="card col mx-2 my-2">
    <div class="card-title">
      <h3>Crop info</h3>
    </div>
    <form class="card-body d-flex flex-column" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="species-select">Species</label>
        <select id='species-select' name="species-select" class="select form-control" aria-label="Select crop" data-url="{% url 'calculator:fetch-species' %}">
          <option></option>
          {% for species in plantspecies %}
          <option value="{{ species.pk}}"{% if species.pk == plantspecie %}selected{% endif %}>{{ species.common_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="variety-select">Variety</label>
        <select id="variety-select" name="variety-select" class="select form-control" aria-label="Select variety" data-url="" disabled>
          <option value=""></option>
        </select>
      </div>
      {{ form|crispy }}
      <input class="btn btn-primary col-12 mt-auto" type="submit" value="Update">
    </form>
  </div>
  <div class="card col d-flex mx-2 my-2">
    <div class="card-title">
      <h3>Parameters</h3>
    </div>
    <ul class="card-body list-group list-group-flush" id="parameters-list">
      {% for cropparam in crop.cropparameter_set.all %}
      <li class="list-group-item" id="croppparam-{{ cropparam.pk }}"><a class="fas fa-trash-alt falink" data-url="{% url 'calculator:cropparameter-detail' cropparam.pk %}" onClick="deleteCropParameter(this);"><i class="bi bi-trash" style="color: black;"></i></a> {{ cropparam.parameter.name }}: {{ cropparam.value }} {{ cropparam.parameter.measure_unit }}</li>
      {% endfor %}
    </ul>
    <form id="parameter-add-form" class="card-body" method="post" action="{% url 'calculator:cropparameter-update' %}">
      {% csrf_token %}
      <div class="form-group mt-5">
        <select id="parameter-select" class="form-control select" name="parameter">
          {% for parameter in parameters %}
          <option value="{{ parameter.pk }}">{{ parameter.name }} ({{ parameter.measure_unit }})</option>
          {% endfor %}
        </select>
        <div class="form-group mt-2">
          <input name="value" class="form-control" type="float">
          <input name="crop" type="hidden" value="{{ crop.pk }}">
        </div>
      </div>
      <input class="btn btn-primary mt-3 col-12" type="submit" value="Update">
    </form>
    <!-- <button id="parameter-add-btn" class="btn btn-outline-primary mt-auto mb-2" data-url="{% url 'calculator:cropparameter-list' %}">Add</button> -->
  </div>
</div>

<!-- Display available models -->
<div class="row">
  {% for cm in cropmodels %}
  <div class="card col-2 my-2 mx-2">
    <div class="card-title"><h3>{{ cm.model_name }}</h3></div>
    <div class="card-body d-flex"><h2 class="mt-auto">{{ cm.value }} {{ cm.measure_unit }}</h2></div>
  </div>
  {% endfor %}
  <div class="col card mx-2 my-2">

    <div class="card-title">
      <h3>Phenology</h3>
    </div>
    <div id="chart" class="card-body"></div>

    <script type="text/javascript">

        var options = {
          series: [
          {
            data: [
              {
                x: 'Sowing',
                y: [
                  new Date('2022-02-27').getTime(),
                  new Date('2022-03-24').getTime()
                ],
                fillColor: '#008FFB'
              },
              {
                x: 'Maturity',
                y: [
                  new Date('2022-08-04').getTime(),
                  new Date('2022-08-28').getTime()
                ],
                fillColor: '#00E396'
              },
            ]
          }
        ],
          chart: {
          height: 150,
          type: 'rangeBar',
          toolbar: {
                  show: false
                },
        },
        plotOptions: {
          bar: {
            horizontal: true,
            distributed: true,
            dataLabels: {
              hideOverflowingLabels: false
            }
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function(val, opts) {
            var label = opts.w.globals.labels[opts.dataPointIndex]
            //var a = moment(val[0])
            //var b = moment(val[1])
            //var diff = b.diff(a, 'days')
            //return label + ': ' + diff + (diff > 1 ? ' days' : ' day')
            return label
          },
          style: {
            colors: ['#f3f4f5', '#fff']
          }
        },
        xaxis: {
          type: 'datetime'
        },
        yaxis: {
          show: false
        },
        grid: {
          row: {
            colors: ['#f3f4f5', '#fff'],
            opacity: 1
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
  </div>
</div>


<script src="{% static 'frontpage/js/cropparameter.js' %}"></script>
{% endblock %}
