{% extends "frontpage/base.html" %}
{% block title %}Calculator{% endblock %}
{% load static %}
{% block javascript %}
{% endblock %}

{% block container %}
<h1>Calculator</h1>
{% csrf_token %}
<div class="row">

    <div class="col-2">
      <label class="form-label" for="area_select">Area</label>
      <select id='area_select' class="form-select" aria-label="Select area" data-url="{% url "get_area_ajax" %}">
        {% for area in areas %}
        <option value="{{ area.pk}}">{{ area.name }}</option>
        {% endfor %}
      </select>
      <label class="form-label" for="plantspecies_select">Crop</label>
      <select id='plantspecies_select' class="form-select" aria-label="Select crop" data-url="">
        {% for crop in plantspecies %}
        <option value="{{ crop.pk}}">{{ crop.common_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-2"></div>

    <div class="col-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Dimensions</h5>
          <h6 class="card-subtitle mb-2 text-muted">Space available</h6>
          <p id="dimensions_card" class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Yield</h5>
          <h6 class="card-subtitle mb-2 text-muted">Expected yield</h6>
          <p id="yield_card" class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Planting</h5>
          <h6 class="card-subtitle mb-2 text-muted">Planting density (between x within rows)</h6>
          <p id="planting_card" class="card-text"></p>
        </div>
      </div>
    </div>

</div>

<script src="{% static 'frontpage/js/calculator.js' %}"></script>

{% endblock %}
