{% extends "frontpage/base.html" %}
{% block title %}Calculator{% endblock %}
{% load static %}
{% block javascript %}
{% endblock %}

{% block container %}
<h1>Calculator</h1>
{% csrf_token %}

<!-- First row -->
<div class="row">
  <div class="col-3">
      <div class="form-floating">
        <select id='location_select' class="form-select" aria-label="Select location" data-url="">
          <option value=""></option>
        </select>
        <label class="form-label" for="area_select">Location</label>
      </div>
      <div class="form-floating mt-3">
        <select id='area_select' class="form-select" aria-label="Select area" data-url="{% url "get_area_ajax" %}">
          {% for area in areas %}
          <option value="{{ area.pk}}">{{ area.name }}</option>
          {% endfor %}
        </select>
        <label class="form-label" for="area_select">Area</label>
      </div>
  </div>
  <div class="col">
    <h1>Dimensions</h1>
    <p id="dimensions_card" class="fs-4"></p>
  </div>
</div>

<!-- Second row -->
<div class="row">
  <div class="col-3">

      <div class="form-floating mt-3">
        <select id='plantspecies_select' class="form-select" aria-label="Select crop" data-url="">
          {% for crop in plantspecies %}
          <option value="{{ crop.pk}}">{{ crop.common_name }}</option>
          {% endfor %}
        </select>
        <label class="form-label" for="plantspecies_select">Crop</label>
      </div>

      <div class="form-floating mt-3">
        <select id='plantvariety_select' class="form-select" aria-label="Select variety" data-url="{% url "get_varieties" %}">
          <option value=""></option>
        </select>
        <label class="form-label" for="plantvariety_select">Variety</label>
      </div>

  </div>

  <div class="col">
    <h1>Crop data</h1>
    <p class="fs-4">Expected yield: <span id="yield_card"></span></p>
    <p class="fs-4">Revenue: € 1200 (12 €/kg)</p>
  </div>
</div>
<!-- End of second row -->
<!-- Third row -->
<div class="row">
  <div class="col-3">
    <div class="form-floating mt-3">
      <label for="customRange1" class="form-label">Distb <span id="distb_select"></span></label>
      <input type="range" class="form-range" id="distb_range">
    </div>
    <div class="form-floating mt-3">
      <label for="customRange1" class="form-label">Distw <span id="distw_select"></span></label>
      <input type="range" class="form-range" id="distw_range">
    </div>
  </div>

  <div class="col">
    <h1>Planting</h1>
    <p id="planting_card" class="fs-4"></p>
  </div>
</div>
<!-- End of third row -->

<div class="row">

    <div class="col">
      <div class="mt-4">
        <button type="button" class="btn btn-dark btn-lg">Save</button>
        <button type="button" class="btn btn-outline-danger btn-lg">Delete</button>
        <button type="button" class="btn btn-outline-secondary btn-lg">Reset</button>
      </div>
    </div>

</div>

<script src="{% static 'frontpage/js/calculator.js' %}"></script>

{% endblock %}
