{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% block title %}New operation{% endblock %}
{% block container %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'spaces:location-list' %}">Locations</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ crop.area.name }}</li>
  </ol>
</nav>

<h1>Area: {{ crop.area.name }} ({{ crop.area.location.name }})</h1>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button name="btn-save" type="submit" class="btn btn-outline-primary mt-3">Save</button>
</form>


{% endblock %}
