{% extends "frontpage/modal_content.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Update Observation
{% endblock %}

{% block body %}
  <header class="mb-3">
    <h2 class="fs-5">{{ instance.state.trait }}</h2>
    <p class="fs-6 fw-light text-muted my-0">{{ instance.state.trait.protocol }}</p>
  </header>
  {% if target %}
    <div class="d-flex justify-content-center mb-3">
      {% include "calculator/partials/target_count_indicator.html" with target=target recorded_count=recorded_count can_change_count=perms.calculator.change_fieldbook only %}
    </div>
  {% endif %}
  <form id="observation" onsubmit="return false;">
    {{ form|crispy }}
  </form>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" hx-post="{{ request.get_full_path }}" hx-include="#observation" hx-target="#modal" hx-trigger="click, keyup[key=='Enter'] from:#observation">
    Update
  </button>
  <button type="button" class="btn btn-danger" hx-post="{% url 'calculator:trait_observation_delete' form.instance.pk %}" hx-confirm="Are you sure?">Delete</button>

{% endblock %}
