{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit parameter {{form.instance}}{% endblock %}
{% block container %}
<h1>Edit {{form.instance.specie|lower}} parameter: {{form.instance}}</h1>
<form method="post" class="mb-2">
    {% csrf_token %}
    {{ form|crispy }}
    <p><small>*Required</small></p>
    <input class="btn btn-primary" type="submit" value="Save">
</form>
<div>
    <p>Can't find a parameter?
    <a href="{% url 'parameters:parameter_create' %}" target="_blank">Create</a> a new one.</p>
</div>
{% endblock %}

