<!--  -*- engine: django -*-  -->

{% extends "frontpage/base.html" %}

{% load render_table from django_tables2 %}

{% block title %}{{ parameter.code }}{% endblock %}

{% block container %}

<h1>{{ parameter.name }}</h1>

<p>{{ parameter.description }}</p>

{% if parameter.measure_unit != 'unitless' %}
<p>It is measured in {{ parameter.measure_unit }}.</p>
{% endif %}

<h2>Crop parameters</h2>
{% render_table species_parameters_table %}

<h2>Varietal parameters</h2>
{% render_table varietal_parameters_table %}
{% endblock %}
