{% if all_params %}
<table class="table table-striped">
    <thead>
        <th>Parameter</th>
        <th>Value</th>
        <th>Reference</th>
        <th></th>
    </thead>
    {% for parameter in all_params %}
    <tr>
        <td>{{ parameter }}</td>
        <td>{{ parameter.value }}</td>
        <td>{{ parameter.url_ref }}</td>
        <td>
            {% if param_type == 'crop' %}
            <a href="{% url 'parameters:cropparam-update' parameter.id %}"><i class="bi-pencil" style="color: black;"></i></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'frontpage/paginator.html' with page=all_params pagevar='page' %}
{% else %}
<p>There are no parameters registered.</p>
{% endif %}

