{% extends "frontpage/base.html" %}

{% load render_table from django_tables2 %}
{% load components %}
{% load breadcrumbs %}

{% block title %}{{ parameter.code }}{% endblock %}

{% block container %}

  {% render_breadcrumbs %}
  {% detail_page_header parameter title=parameter.name subtitle=parameter.code subtitle_emphasis=True update_modal=True %}

  <h2 class="fs-4">Parameter Values</h2>
  {% block results %}
    <div id="table" hx-target="#table" {% hx_vals_use_block "results" %}>
      {% render_table table %}
    </div>
  {% endblock %}
{% endblock %}
