   .table-hover .row-action {
       opacity: 0;
       transition: opacity .15s ease;
   }
   .table-hover tbody tr:hover .row-action {
       opacity: 1;
   }

.border-hover:hover {
  border-color: var(--bs-primary-border-subtle);
}
