{% extends "frontpage/base.html" %}

{% load crispy_forms_tags %}
{% load view_breadcrumbs %}

{% block title %}
  {% if object %}
    Update: {{ object }}
  {% else %}
  Add {{ object_to_create }}
  {% endif %}
{% endblock %}


{% block container %}

{% render_breadcrumbs %}

{% #page_title %}
  {% if object %}
    Update: {{ object }}
  {% else %}
  Create {{ object_to_create }}
  {% endif %}
{% /page_title %}

<p class="lead">
{% block subheading %}
{% endblock %}
</p>


<form method="post">

    {% csrf_token %}

    <div class="mb-3">
        {{ form|crispy }}
    </div>

    <p><small><sup>*</sup>Required field</small></p>

    <input class="btn btn-secondary" type="submit" value="Create">

    {% if object.get_delete_url and object.is_deletable %}
        <a class="btn btn-danger" href="{{ object.get_delete_url }}">Delete</a>
    {% endif %}

</form>

{% block additional_content %}
{% endblock %}

{% endblock %}
