{% extends "frontpage/base.html" %}

{% load crispy_forms_tags %}
{% load breadcrumbs %}

{% block title %}
{% endblock %}


{% block container %}

    {% render_breadcrumbs %}

    <h1 class="display-3">
        {% block heading %}
        {% endblock %}
    </h1>

    <p class="lead">
	    {% block subheading %}
	    {% endblock %}
    </p>


    <form method="post">
	    {% csrf_token %}

	    <div class="mb-3">
            {{ form|crispy }}
	    </div>

	    <p><small><sup>*</sup>Required field</small></p>

        {% block buttons %}
        {% endblock %}

    </form>

    {% block additional_content %}
    {% endblock %}

{% endblock %}
