{% extends "frontpage/modal_content.html" %}

{% load crispy_forms_tags %}

{% block title %}Set {{ user.username }} password{% endblock %}

{% block body %}
  <form id="password-update">
    {% csrf_token %}
    {{ form|crispy }}
  </form>
{% endblock %}

{% block footer %}
  <button
    type="submit"
    class="btn btn-primary"
    form="password-update"
    hx-post="{{ request.get_full_path }}"
    hx-include="#password-update"
    hx-target="#modal"
    hx-trigger="click, keyup[key=='Enter'] from:#password-update">
    Set password
  </button>
{% endblock %}
