{% extends "frontpage/base.html" %}

{% load crispy_forms_tags %}
{% load components %}
{% load render_table from django_tables2 %}

{% block title %}
  Admin
{% endblock %}

{% block container %}
  <div class="row mt-3">
    <aside class="col-3">
      <nav
	id="navbar-admin" aria-labelledby="admin-nav-title" class="h-100 flex-column align-items-stretch pe-4 border-end">
	<h2 id="admin-nav-title" class="visually-hidden">Adminstration</h2>
	<div class="nav nav-pills flex-column">
          <a class="nav-link" href="#users">Users</a>
          <a class="nav-link" href="/admin">Django Admin</a>
	</div>
      </nav>
    </aside>

    <section class="col">
      <div data-bs-spy="scroll" data-bs-target="#navbar-admin" data-bs-smooth-scroll="true" class="" tabindex="0">
	{% block users %}
	  <div id="users" hx-get="" hx-trigger="usersUpdated from:body" hx-vals='{"use_block": "users"}'>
	    {% include 'frontpage/partials/list_page_header.html' %}
	    <div hx-target="#users" hx-swap="outerHTML">
	      {% render_table table_user %}
	    </div>
	  </div>
	{% endblock %}

      </div>
    </section>
  </div>

{% endblock %}
