{% extends "frontpage/modal_content.html" %}

{% load crispy_forms_tags %}

{% block title %}
  {% if instance %}
    Update User: {{ instance.username }}
  {% else %}
    Create User
  {% endif %}
{% endblock %}

{% block body %}
  <form id="user-form">
    {% csrf_token %}
    {{ form|crispy }}
  </form>
{% endblock %}

{% block footer %}
  <button
    type="submit"
    form="user-form"
    class="btn btn-primary"
    hx-post="{{ request.get_full_path }}"
    hx-include="#user-form"
    hx-target="#modal"
    hx-trigger="click, keyup[key=='Enter'] from:#user-form">
    {% if instance %}Update{% else %}Create{% endif %}
  </button>
  {% if instance %}
    <button type="button" class="btn btn-secondary" hx-get="{% url 'frontpage:admin_password_update' instance.username %}" hx-target="#modal" hx-trigger="click">Set password</button>
  {% endif %}
{% endblock %}
