{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ request.session.is_light|yesno:"light,dark" }}">
    <head>
	<script src="{% static 'frontpage/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'frontpage/htmx.bundle.js' %}" type="text/javascript" defer></script>
	<script src="{% static 'frontpage/hyperscript.bundle.js' %}" type="text/javascript" defer></script>
	<script src="{% static 'django_sortable_htmx/sortable.bundle.js' %}" type="text/javascript" defer></script>
	<script>
	 function toggleTheme() {
	     const currentTheme = document.documentElement.getAttribute('data-bs-theme');
	     const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
	     document.documentElement.setAttribute('data-bs-theme', newTheme);
	 }
	</script>

	{% block javascript %}
	{% endblock %}
	<meta charset="UTF-8">
	<title>Kora - {% block title %}{% endblock %}</title>
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        {% include 'frontpage/navbar.html' %}
        <div class="container">

            {% block container %}
            {% endblock %}

        </div>

        {% django_htmx_script %}

    </body>
</html>
