<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link href="{% static 'frontpage/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'frontpage/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'frontpage/js/htmx.min.js' %}" defer></script>
        <link href="{% static 'frontpage/bootstrap-icons.css' %}" rel="stylesheet"></script>
        <style type="text/css" media="screen">
            .falink {
                text-decoration: none;
                color: black;
            }

            a:hover.falink {
                color: black;
            }
        </style>
        {% block javascript %}
        {% endblock %}
        <meta charset="UTF-8">
        <title>Persefone - {% block title %}{% endblock %}</title>
    </head>
    <body
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      >
        {% include 'frontpage/navbar.html' %}
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    </body>
</html>
