{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" >
    <head>
	<script src="{% static 'frontpage/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'frontpage/htmx.bundle.js' %}" type="text/javascript" defer></script>
	<script src="{% static 'frontpage/hyperscript.bundle.js' %}" type="text/javascript" defer></script>
	<script src="{% static 'django_sortable_htmx/sortable.bundle.js' %}" type="text/javascript" defer></script>

	{% block javascript %}
	{% endblock %}
	<meta charset="UTF-8">
	<title>Kora - {% block title %}{% endblock %}</title>
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' data-bs-theme="{{ request.session.appearance|default:"light" }}">

        {% include 'frontpage/navbar.html' %}
        <div class="container">

            {% block container %}
            {% endblock %}

        </div>

        {% django_htmx_script %}


	<div class="offcanvas offcanvas-end p-1 shadow-lg border my-5 bg-body-tertiary rounded"
	     tabindex="-1"
	     id="offcanvasWorkspace"
	     aria-labelledby="offcanvasWorkspaceLabel"
	     data-bs-backdrop="true">
	    <div class="offcanvas-header">
		<h5 class="offcanvas-title">Workspace</h5>
	    </div>
	    <div class="offcanvas-body">
		{% if user.is_authenticated %}
		    <div id="workspaceBody"
			 hx-get="{% url 'describe:workspace_list' %}"
			 hx-trigger="load"
			 hx-swap="innerHTML">
		    </div>
		{% else %}
		    <p class="text-muted">
			You must be logged in to access Workspaces. <br/>
			<a href="{% url 'login' %}">Log In</a>
		    </p>
		{% endif %}
	    </div>
	</div>
    </body>
</html>
