{% extends "frontpage/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load breadcrumbs %}

{% block javascript %}

{% endblock %}

{% block title %}Delete {{ object }}{% endblock %}

{% block container %}

    {% render_breadcrumbs %}

    <h5 class="display-5">Are you sure?</h5>

    <div class="row mt-3 d-flex justify-content-center">
        <div class="col-6">
            <div class="alert alert-danger mt-5" role="alert">Caution! The deletion will be <b>permanent</b> and can't be undone.</div>
            {% block delete_message %}{% endblock %}

            {% block extended_delete_message %}{% endblock %}
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a class="btn btn-outline-secondary ms-2" _="on click go back">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
