{% extends "frontpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load breadcrumbs %}

{% block javascript %}

{% endblock %}

{% block title %}Delete {{ object }}{% endblock %}

{% block container %}

    {% render_breadcrumbs %}

    <h5 class="display-5">Are you sure?</h5>

    {% block delete_message %}{% endblock %}

    <p>The operation cannot be undone.</p>

    {% block extended_delete_message %}{% endblock %}

    <form method="post">
        {% csrf_token %}
        <button name="btn-save" type="submit" class="btn btn-danger mt-3">Confirm</button>
        <a class="btn btn-outline-secondary mt-3" _="on click go back">Cancel</a>
    </form>

{% endblock %}
