{% extends "frontpage/base.html" %}
{% block title %}Home{% endblock %}

{% block container %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <p class="col-md-8 fs-4">
    “I learned this, at least, by my experiment: that if one advances
    confidently in the direction of his dreams, and endeavors to live the life
    which he has imagined, he will meet with a success unexpected in common
    hours.”
    </p>
  <p class="text-muted">― Henry David Thoreau, Walden: Or, Life in the Woods</p>
  </div>
</div>
{% endblock %}
