{% load frontpage_extras %}
{% load static %}
{% load components %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'frontpage:index' %}">
      <img alt="Logo" src="{% static 'frontpage/kora-logo.png' %}" width="40" height="40" class="d-inline-block align-text-middle"/>
      Kora
    </a>

    {% is_public as instance_is_public %}

    {% if instance_is_public or user.is_authenticated %}
      {% include "frontpage/partials/navbar_menu.html" %}
    {% endif %}

    {% include "frontpage/partials/navbar_tray.html" %}
  </div>
  </div>
</nav>
