{% extends "frontpage/base.html" %}

{% load breadcrumbs %}
{% load components %}
{% load crispy_forms_tags %}

{% block title %}
  User Profile
{% endblock %}

{% block container %}

  {% render_breadcrumbs %}

  {% detail_page_header request.user subtitle="User" %}

  <section class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 28rem;">
      <div class="card-header">
	User Profile
      </div>
      <ul class="list-group list-group-flush">
	<li class="list-group-item d-flex justify-content-between"><span>{{ request.user.first_name|default:"-" }}</span><span class="text-muted">First name</span></li>
	<li class="list-group-item d-flex justify-content-between"><span>{{ request.user.last_name|default:"-" }}</span><span class="text-muted">Last name</span></li>
	<li class="list-group-item d-flex justify-content-between"><span>{{ request.user.email|default:"-" }}</span><span class="text-muted">Email</span></li>
	{% if request.user.is_staff or request.user.is_superuser %}
	  <li class="list-group-item d-flex justify-content-between">
	    <span>
	      {% if request.user.is_staff %}Staff{% endif %}
	      {% if request.user.is_superuser %}Admin{% endif %}
	    </span>
	    <span class="text-muted">Flags</span>
	  </li>
	{% endif %}
	<li class="list-group-item d-flex justify-content-center"><a class="card-link" href="{% url 'frontpage:user_update' %}">Update profile</a>
	  <a class="card-link" href="{% url 'frontpage:password_change' %}">Change password</a></li>
      </ul>
    </div>
  </section>

  <p class="my-3"></p>

{% endblock %}
