<div class="d-flex justify-content-end gap-2">
  <a class="row-action" href="{% url 'describe:description_find_similar' %}?description_id={{ record.pk }}"
    class="btn btn-sm btn-outline-secondary rounded-circle">
    <span class="badge rounded-pill text-bg-secondary">Similar</span>
  </a>
  {% if user.is_authenticated %}
    <a href="#"
      class="row-action"
      hx-post="{% url 'describe:workspace_element_create' %}"
      hx-vals='{"description_id": "{{ record.pk }}"}'
      hx-target="#workspaceBody">
      <span class="badge rounded-pill text-bg-secondary">Add</span>
    </a>
  {% endif %}
</div>
