<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Kora</a>
        </li>
        {% for label, url in crumbs %}
            {% if forloop.last or not url %}
                <li class="breadcrumb-item {% if forloop.last %}active{% endif %}"
                    {% if forloop.last %}aria-current="page"{% endif %}>{{ label }}</li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{% url url %}">
                        {{ label }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
