{% load components %}

<div class="list-group-item listgroup-item-action flex-column align-item-start {% if not object.weight %}bg-danger-subtle border-dark-subtle{% endif %}" style="min-height: 4rem;">

  <div class="d-flex w-100 justify-content-between">

    <h6>
      <a class="text-decoration-none link-body-emphasis"
		href="{{ object.sample.get_absolute_url }}">
	{{ object.sample.variety.name }} ({{ object.sample.variety.species.common_name }})
      </a>
      <small class="text-muted">{{ object.sample.position }}</small>
    </h6>

    <small>
      <a class="text-decoration-none link-body-emphasis" href="" hx-post="{% url 'collect:cartitem_delete' object.pk %}" hx-target="closest .list-group-item" hx-swap="delete">
	<i class="bi bi-x-lg"></i>
      </a>
    </small>
  </div>
  {% if object.weight %}
    <a href="#" class="link-body-emphasis text-decoration-none" hx-get="{% url 'collect:cartitem_update' object.pk %}" {% modal_attrs %}>
      <small class="text-muted">
	{{ object.weight }} grams
      </small>
    </a>
  {% endif %}
  <input type="hidden" name="order" value="{{ object.pk }}">
</div>
