{% load widget_tweaks %}

<form hx-post="{% url 'collect:cartitem-setweight' cartitem.pk %}">

    {% render_field form.cartitem %}

    {% with hyperscript="on click from elsewhere show the previous <span/> then remove me" %}

        <span hx-get="{% url 'collect:cartitem-setweight' cartitem.pk %}" hx-trigger="click" hx-swap="outerHTML" style="display:none;">{{ cartitem.weight }}g</span>

        {% render_field form.weight class+="form-control form-control-sm" script=hyperscript %}

    {% endwith %}

</form>
