
<div class="offcanvas-header">
    {% if cart %}
	<h1 id="cartLabel">Cart
            <a href="{% url 'collect:cart-update' cart.pk %}" class="fs-2 link-body-emphasis text-decoration-none"><i class="bi bi-pencil-square"></i></a>
            <a href="{% url 'collect:cart-retrieve' cart.pk %}" class="fs-2 link-body-emphasis text-decoration-none"><i class="bi bi-box-arrow-down"></i></a>
            <a href="{% url 'collect:cart-delete' cart.pk %}" class="fs-2 link-body-emphasis text-decoration-none"><i class="bi bi-trash"></i></a>
            <a href="{% url 'restapi:cartitems' cart.pk %}" class="fs-2 link-body-emphasis text-decoration-none">
		<i class="bi bi-cloud-download"></i>
	    </a>
	</h1>
    {% endif %}
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body">
    <p class="lead">{{ cart.name }}</p>
    {% if form.errors %}
        {% for key, error in form.errors.items %}
            {{ error }}
        {% endfor %}
    {% endif %}
    <div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	    Sort by
	</button>
	<ul class="dropdown-menu">
	    <li><a href="" class="dropdown-item" hx-get="{% url "collect:cart-sort" %}" hx-target="#cart" hx-vals='{"sort": "growing_season"}'>Year</a></li>
	    <li><a href="" class="dropdown-item" hx-get="{% url "collect:cart-sort" %}" hx-target="#cart" hx-vals='{"sort": "variety"}'>Variety</a></li>
	    <li><a href="" class="dropdown-item" hx-get="{% url "collect:cart-sort" %}" hx-target="#cart">Position</a></li>
	    <li><a href="" class="dropdown-item" hx-get="{% url "collect:cart-sort" %}" hx-target="#cart" hx-vals='{"sort": "pk"}'>Addition</a></li>
	</ul>
    </div>

    {% if cart %}
        <table class="table align-middle">
            <tbody>
                {% for cartitem in cartitems %}
                    <tr style="height: 3rem;">
                        <td>{{ cartitem.sample.sample_id }}</td>
                        <td>{{ cartitem }}</td>
                        <td>{{ cartitem.sample.position }}</td>
                        <td class="col-3" align="right"><span hx-get="{% url 'collect:cartitem-setweight' cartitem.pk %}" hx-trigger="click" hx-swap="outerHTML">{{ cartitem.weight }} g</span></td>
                        <td class="col-1"><a href="#" hx-get="{% url 'collect:cartitem-delete' cartitem.pk %}" hx-target="#cart" class="link-body-emphasis"><i class="bi bi-x-lg"></i></a></td>
                    </tr>
                {% empty %}
                    <p>There are no items in the cart.</p>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There is no cart. Please select or <a href="{% url 'collect:cart-create' %}">create</a> a new cart.</p>
    {% endif %}
</div>
