{% extends "frontpage/modal_content.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Record Germinability
{% endblock %}

{% block body %}
  <form id="germinability" onsubmit="return false;">
    {{ form|crispy }}
  </form>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" hx-post="{{ request.get_full_path }}" hx-include="#germinability" hx-target="#modal" hx-trigger="click, keyup[key=='Enter'] from:#germinability">
    Record
  </button>
  {{ block.super }}
{% endblock %}
