{% load components %}
<div class="col draggable"  style="cursor: pointer;" _="on click
            if event.target.closest('.dropdown') == null
            go to url {{ object.get_absolute_url }}
            end">
  <div class="card shadow-sm p-3 h-100 border-hover">
    <div class="d-flex justify-content-between align-items-start">
      <h6 class="draggable text-truncate">
        <a href="{{ object.get_absolute_url }}" class="link-body-emphasis text-decoration-none" title="{{ object }}">
          {{ object }}
        </a>
      </h5>
      {% if perms.collect.change_storage %}
        <div class="dropdown dropend text-muted">
          <button type="button" class="btn btn-link link-body-emphasis p-0" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Storage actions" data-bs-popper-config='{"strategy":"fixed"}'>
            <i class="bi bi-three-dots-vertical fs-5"></i>
          </button>
          <ul class="dropdown-menu">
            <h6 class="dropdown-header">Move storage</h6>
            <li><button type="button" class="dropdown-item" hx-post="{% url 'collect:storage_move_to_boundary' object.pk %}" hx-vals='{"boundary": "top"}'>Move to top</button></li>
            <li><button type="button" class="dropdown-item" hx-disinherit="*" hx-get="{% url 'collect:storage_move_to' object.pk %}" {% modal_attrs %}>Move before...</button></li>
            <li><button type="button" class="dropdown-item" hx-post="{% url 'collect:storage_move_to_boundary' object.pk %}" hx-vals='{"boundary": "bottom"}'>Move to bottom</button></li>
          </ul>
        </div>
      {% endif %}
    </div>

    <h6 class="card-subtitle mb-2 text-muted">
      <span class="badge rounded-pill text-bg-secondary">
        {{ object.stored_positions_count }}/{{ object.total_positions_count }}
      </span>
    </h6>

    <input type="hidden" name="order" value="{{ object.pk }}">
  </div>
</div>
